In [3]:
import findspark
findspark.init()

In [4]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
df = spark.sql("select 'spark' as hello ")
df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

In [5]:
spark.version

'3.0.3'

In [6]:
spark.createDataFrame([("Java","10000"),("Python","10000"),("Scala","5000")]).show()

+------+-----+
|    _1|   _2|
+------+-----+
|  Java|10000|
|Python|10000|
| Scala| 5000|
+------+-----+

In [7]:
data = [1,2,3,4,5,6,7,8,9,10,11,12]
rdd = spark.sparkContext.parallelize(data)

In [9]:
rdd.collect()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [10]:
rdd2 = spark.sparkContext.textFile("/path/textFile.txt")

In [11]:
rdd3 = spark.sparkContext.wholeTextFiles("/path/textFile.txt")

In [12]:
transRDD = spark.sparkContext.textFile("trans.txt")

In [13]:
transRDD.collect()

['00000000,06-26-2011,4000001,040.33,Exercise & Fitness,Cardio Machine Accessories,Clarksville,Tennessee,credit',
 '00000001,05-26-2011,4000002,198.44,Exercise & Fitness,Weightlifting Gloves,Long Beach,California,credit',
 '00000002,06-01-2011,4000002,005.58,Exercise & Fitness,Weightlifting Machine Accessories,Anaheim,California,credit',
 '00000003,06-05-2011,4000003,198.19,Gymnastics,Gymnastics Rings,Milwaukee,Wisconsin,credit',
 '00000004,12-17-2011,4000002,098.81,Team Sports,Field Hockey,Nashville  ,Tennessee,credit',
 '00000005,02-14-2011,4000004,193.63,Outdoor Recreation,Camping & Backpacking & Hiking,Chicago,Illinois,credit',
 '00000006,10-28-2011,4000005,027.89,Puzzles,Jigsaw Puzzles,Charleston,South Carolina,credit',
 '00000007,07-14-2011,4000006,096.01,Outdoor Play Equipment,Sandboxes,Columbus,Ohio,credit',
 '00000008,01-17-2011,4000006,010.44,Winter Sports,Snowmobiling,Des Moines,Iowa,credit',
 '00000009,05-17-2011,4000006,152.46,Jumping,Bungee Jumping,St. Petersburg,Florida,credit',
 '00000010,05-29-2011,4000007,180.28,Outdoor Recreation,Archery,Reno,Nevada,credit',
 '00000011,06-18-2011,4000009,121.39,Outdoor Play Equipment,Swing Sets,Columbus,Ohio,credit',
 '00000012,02-08-2011,4000009,041.52,Indoor Games,Bowling,San Francisco,California,credit',
 '00000013,03-13-2011,4000010,107.80,Team Sports,Field Hockey,Honolulu  ,Hawaii,credit',
 '00000014,02-25-2011,4000010,036.81,Gymnastics,Vaulting Horses,Los Angeles,California,credit',
 '00000015,10-20-2011,4000001,137.64,Combat Sports,Fencing,Honolulu  ,Hawaii,credit',
 '00000016,05-28-2011,4000010,035.56,Exercise & Fitness,Free Weight Bars,Columbia,South Carolina,credit',
 '00000017,10-18-2011,4000008,075.55,Water Sports,Scuba Diving & Snorkeling,Omaha,Nebraska,credit',
 '00000018,11-18-2011,4000008,088.65,Team Sports,Baseball,Salt Lake City,Utah,credit',
 '00000019,08-28-2011,4000008,051.81,Water Sports,Life Jackets,Newark,New Jersey,credit',
 '00000020,06-29-2011,4000005,041.55,Exercise & Fitness,Weightlifting Belts,New Orleans,Louisiana,credit',
 '00000021,02-14-2011,4000005,045.79,Air Sports,Parachutes,New York,New York,credit',
 '00000022,10-10-2011,4000009,019.64,Water Sports,Kitesurfing,Saint Paul,Minnesota,credit',
 '00000023,05-02-2011,4000009,099.50,Gymnastics,Gymnastics Rings,Springfield,Illinois,credit',
 '00000024,06-10-2011,4000003,151.20,Water Sports,Surfing,Plano,Texas,credit',
 '00000025,10-14-2011,4000009,144.20,Indoor Games,Darts,Phoenix,Arizona,credit',
 '00000026,10-11-2011,4000009,031.58,Combat Sports,Wrestling,Orange,California,credit',
 '00000027,09-29-2011,4000010,066.40,Games,Mahjong,Fremont,California,credit',
 '00000028,05-12-2011,4000008,079.78,Team Sports,Cricket,Lexington,Kentucky,credit',
 '00000029,06-03-2011,4000001,126.90,Outdoor Recreation,Hunting,Phoenix,Arizona,credit',
 '00000030,03-14-2011,4000001,047.05,Water Sports,Swimming,Lincoln,Nebraska,credit',
 '00000031,11-28-2011,4000008,005.03,Games,Dice & Dice Sets,Los Angeles,California,credit',
 '00000032,01-29-2011,4000008,020.13,Team Sports,Soccer,Springfield,Illinois,credit',
 '00000033,06-15-2011,4000008,154.15,Outdoor Recreation,Lawn Games,Nashville  ,Tennessee,credit',
 '00000034,05-06-2011,4000008,098.96,Team Sports,Indoor Volleyball,Atlanta,Georgia,credit',
 '00000035,04-12-2011,4000008,185.26,Games,Board Games,Centennial,Colorado,credit',
 '00000036,10-13-2011,4000007,035.66,Team Sports,Football,Saint Paul,Minnesota,credit',
 '00000037,04-19-2011,4000007,020.20,Outdoor Recreation,Shooting Games,San Diego,California,credit',
 '00000038,08-05-2011,4000007,150.60,Outdoor Recreation,Camping & Backpacking & Hiking,Hampton  ,Virginia,credit',
 '00000039,03-12-2011,4000006,174.36,Outdoor Play Equipment,Swing Sets,Pittsburgh,Pennsylvania,credit',
 '00000040,11-07-2011,4000005,165.10,Team Sports,Cheerleading,Reno,Nevada,credit',
 '00000041,04-16-2011,4000004,028.11,Indoor Games,Bowling,Westminster,Colorado,cash',
 '00000042,09-10-2011,4000004,038.52,Outdoor Recreation,Tetherball,Denton,Texas,cash',
 '00000043,04-22-2011,4000004,032.34,Water Sports,Water Polo,Las Vegas,Nevada,cash',
 '00000044,09-11-2011,4000001,135.37,Water Sports,Surfing,Seattle,Washington,credit',
 '00000045,11-27-2011,4000001,090.04,Exercise & Fitness,Abdominal Equipment,Honolulu  ,Hawaii,credit',
 '00000046,05-27-2011,4000001,052.29,Gymnastics,Vaulting Horses,Cleveland,Ohio,credit',
 '00000047,10-23-2011,4000008,100.10,Outdoor Play Equipment,Swing Sets,Everett,Washington,credit',
 '00000048,09-27-2011,4000007,157.94,Exercise & Fitness,Exercise Bands,Philadelphia,Pennsylvania,credit',
 '00000049,07-12-2011,4000010,144.59,Jumping,Jumping Stilts,Cambridge,Massachusetts,credit',
 '00000050,10-20-2011,4000010,055.93,Jumping,Pogo Sticks,Everett,Washington,credit',
 '00000051,02-17-2011,4000002,032.65,Water Sports,Life Jackets,Columbus,Georgia,cash',
 '00000052,02-04-2011,4000005,044.82,Outdoor Play Equipment,Lawn Water Slides,Hampton  ,Virginia,cash',
 '00000053,06-12-2011,4000004,044.46,Water Sports,Scuba Diving & Snorkeling,Charleston,South Carolina,cash',
 '00000054,10-03-2011,4000007,154.87,Outdoor Recreation,Running,Long Beach,California,credit',
 '00000055,12-16-2011,4000006,106.11,Water Sports,Swimming,New York,New York,credit',
 '00000056,06-21-2011,4000002,176.63,Outdoor Recreation,Geocaching,Boston,Massachusetts,credit',
 '00000057,12-20-2011,4000003,178.20,Outdoor Recreation,Skating,San Jose,California,credit',
 '00000058,12-29-2011,4000002,194.86,Water Sports,Windsurfing,Oklahoma City,Oklahoma,credit',
 '00000059,11-07-2011,4000001,021.43,Winter Sports,Snowboarding,Philadelphia,Pennsylvania,cash']

In [15]:
transRDD.flatMap(lambda y: y.split(",")).collect()

['00000000',
 '06-26-2011',
 '4000001',
 '040.33',
 'Exercise & Fitness',
 'Cardio Machine Accessories',
 'Clarksville',
 'Tennessee',
 'credit',
 '00000001',
 '05-26-2011',
 '4000002',
 '198.44',
 'Exercise & Fitness',
 'Weightlifting Gloves',
 'Long Beach',
 'California',
 'credit',
 '00000002',
 '06-01-2011',
 '4000002',
 '005.58',
 'Exercise & Fitness',
 'Weightlifting Machine Accessories',
 'Anaheim',
 'California',
 'credit',
 '00000003',
 '06-05-2011',
 '4000003',
 '198.19',
 'Gymnastics',
 'Gymnastics Rings',
 'Milwaukee',
 'Wisconsin',
 'credit',
 '00000004',
 '12-17-2011',
 '4000002',
 '098.81',
 'Team Sports',
 'Field Hockey',
 'Nashville  ',
 'Tennessee',
 'credit',
 '00000005',
 '02-14-2011',
 '4000004',
 '193.63',
 'Outdoor Recreation',
 'Camping & Backpacking & Hiking',
 'Chicago',
 'Illinois',
 'credit',
 '00000006',
 '10-28-2011',
 '4000005',
 '027.89',
 'Puzzles',
 'Jigsaw Puzzles',
 'Charleston',
 'South Carolina',
 'credit',
 '00000007',
 '07-14-2011',
 '4000006',
 '096.01',
 'Outdoor Play Equipment',
 'Sandboxes',
 'Columbus',
 'Ohio',
 'credit',
 '00000008',
 '01-17-2011',
 '4000006',
 '010.44',
 'Winter Sports',
 'Snowmobiling',
 'Des Moines',
 'Iowa',
 'credit',
 '00000009',
 '05-17-2011',
 '4000006',
 '152.46',
 'Jumping',
 'Bungee Jumping',
 'St. Petersburg',
 'Florida',
 'credit',
 '00000010',
 '05-29-2011',
 '4000007',
 '180.28',
 'Outdoor Recreation',
 'Archery',
 'Reno',
 'Nevada',
 'credit',
 '00000011',
 '06-18-2011',
 '4000009',
 '121.39',
 'Outdoor Play Equipment',
 'Swing Sets',
 'Columbus',
 'Ohio',
 'credit',
 '00000012',
 '02-08-2011',
 '4000009',
 '041.52',
 'Indoor Games',
 'Bowling',
 'San Francisco',
 'California',
 'credit',
 '00000013',
 '03-13-2011',
 '4000010',
 '107.80',
 'Team Sports',
 'Field Hockey',
 'Honolulu  ',
 'Hawaii',
 'credit',
 '00000014',
 '02-25-2011',
 '4000010',
 '036.81',
 'Gymnastics',
 'Vaulting Horses',
 'Los Angeles',
 'California',
 'credit',
 '00000015',
 '10-20-2011',
 '4000001',
 '137.64',
 'Combat Sports',
 'Fencing',
 'Honolulu  ',
 'Hawaii',
 'credit',
 '00000016',
 '05-28-2011',
 '4000010',
 '035.56',
 'Exercise & Fitness',
 'Free Weight Bars',
 'Columbia',
 'South Carolina',
 'credit',
 '00000017',
 '10-18-2011',
 '4000008',
 '075.55',
 'Water Sports',
 'Scuba Diving & Snorkeling',
 'Omaha',
 'Nebraska',
 'credit',
 '00000018',
 '11-18-2011',
 '4000008',
 '088.65',
 'Team Sports',
 'Baseball',
 'Salt Lake City',
 'Utah',
 'credit',
 '00000019',
 '08-28-2011',
 '4000008',
 '051.81',
 'Water Sports',
 'Life Jackets',
 'Newark',
 'New Jersey',
 'credit',
 '00000020',
 '06-29-2011',
 '4000005',
 '041.55',
 'Exercise & Fitness',
 'Weightlifting Belts',
 'New Orleans',
 'Louisiana',
 'credit',
 '00000021',
 '02-14-2011',
 '4000005',
 '045.79',
 'Air Sports',
 'Parachutes',
 'New York',
 'New York',
 'credit',
 '00000022',
 '10-10-2011',
 '4000009',
 '019.64',
 'Water Sports',
 'Kitesurfing',
 'Saint Paul',
 'Minnesota',
 'credit',
 '00000023',
 '05-02-2011',
 '4000009',
 '099.50',
 'Gymnastics',
 'Gymnastics Rings',
 'Springfield',
 'Illinois',
 'credit',
 '00000024',
 '06-10-2011',
 '4000003',
 '151.20',
 'Water Sports',
 'Surfing',
 'Plano',
 'Texas',
 'credit',
 '00000025',
 '10-14-2011',
 '4000009',
 '144.20',
 'Indoor Games',
 'Darts',
 'Phoenix',
 'Arizona',
 'credit',
 '00000026',
 '10-11-2011',
 '4000009',
 '031.58',
 'Combat Sports',
 'Wrestling',
 'Orange',
 'California',
 'credit',
 '00000027',
 '09-29-2011',
 '4000010',
 '066.40',
 'Games',
 'Mahjong',
 'Fremont',
 'California',
 'credit',
 '00000028',
 '05-12-2011',
 '4000008',
 '079.78',
 'Team Sports',
 'Cricket',
 'Lexington',
 'Kentucky',
 'credit',
 '00000029',
 '06-03-2011',
 '4000001',
 '126.90',
 'Outdoor Recreation',
 'Hunting',
 'Phoenix',
 'Arizona',
 'credit',
 '00000030',
 '03-14-2011',
 '4000001',
 '047.05',
 'Water Sports',
 'Swimming',
 'Lincoln',
 'Nebraska',
 'credit',
 '00000031',
 '11-28-2011',
 '4000008',
 '005.03',
 'Games',
 'Dice & Dice Sets',
 'Los Angeles',
 'California',
 'credit',
 '00000032',
 '01-29-2011',
 '4000008',
 '020.13',
 'Team Sports',
 'Soccer',
 'Springfield',
 'Illinois',
 'credit',
 '00000033',
 '06-15-2011',
 '4000008',
 '154.15',
 'Outdoor Recreation',
 'Lawn Games',
 'Nashville  ',
 'Tennessee',
 'credit',
 '00000034',
 '05-06-2011',
 '4000008',
 '098.96',
 'Team Sports',
 'Indoor Volleyball',
 'Atlanta',
 'Georgia',
 'credit',
 '00000035',
 '04-12-2011',
 '4000008',
 '185.26',
 'Games',
 'Board Games',
 'Centennial',
 'Colorado',
 'credit',
 '00000036',
 '10-13-2011',
 '4000007',
 '035.66',
 'Team Sports',
 'Football',
 'Saint Paul',
 'Minnesota',
 'credit',
 '00000037',
 '04-19-2011',
 '4000007',
 '020.20',
 'Outdoor Recreation',
 'Shooting Games',
 'San Diego',
 'California',
 'credit',
 '00000038',
 '08-05-2011',
 '4000007',
 '150.60',
 'Outdoor Recreation',
 'Camping & Backpacking & Hiking',
 'Hampton  ',
 'Virginia',
 'credit',
 '00000039',
 '03-12-2011',
 '4000006',
 '174.36',
 'Outdoor Play Equipment',
 'Swing Sets',
 'Pittsburgh',
 'Pennsylvania',
 'credit',
 '00000040',
 '11-07-2011',
 '4000005',
 '165.10',
 'Team Sports',
 'Cheerleading',
 'Reno',
 'Nevada',
 'credit',
 '00000041',
 '04-16-2011',
 '4000004',
 '028.11',
 'Indoor Games',
 'Bowling',
 'Westminster',
 'Colorado',
 'cash',
 '00000042',
 '09-10-2011',
 '4000004',
 '038.52',
 'Outdoor Recreation',
 'Tetherball',
 'Denton',
 'Texas',
 'cash',
 '00000043',
 '04-22-2011',
 '4000004',
 '032.34',
 'Water Sports',
 'Water Polo',
 'Las Vegas',
 'Nevada',
 'cash',
 '00000044',
 '09-11-2011',
 '4000001',
 '135.37',
 'Water Sports',
 'Surfing',
 'Seattle',
 'Washington',
 'credit',
 '00000045',
 '11-27-2011',
 '4000001',
 '090.04',
 'Exercise & Fitness',
 'Abdominal Equipment',
 'Honolulu  ',
 'Hawaii',
 'credit',
 '00000046',
 '05-27-2011',
 '4000001',
 '052.29',
 'Gymnastics',
 'Vaulting Horses',
 'Cleveland',
 'Ohio',
 'credit',
 '00000047',
 '10-23-2011',
 '4000008',
 '100.10',
 'Outdoor Play Equipment',
 'Swing Sets',
 'Everett',
 'Washington',
 'credit',
 '00000048',
 '09-27-2011',
 '4000007',
 '157.94',
 'Exercise & Fitness',
 'Exercise Bands',
 'Philadelphia',
 'Pennsylvania',
 'credit',
 '00000049',
 '07-12-2011',
 '4000010',
 '144.59',
 'Jumping',
 'Jumping Stilts',
 'Cambridge',
 'Massachusetts',
 'credit',
 '00000050',
 '10-20-2011',
 '4000010',
 '055.93',
 'Jumping',
 'Pogo Sticks',
 'Everett',
 'Washington',
 'credit',
 '00000051',
 '02-17-2011',
 '4000002',
 '032.65',
 'Water Sports',
 'Life Jackets',
 'Columbus',
 'Georgia',
 'cash',
 '00000052',
 '02-04-2011',
 '4000005',
 '044.82',
 'Outdoor Play Equipment',
 'Lawn Water Slides',
 'Hampton  ',
 'Virginia',
 'cash',
 '00000053',
 '06-12-2011',
 '4000004',
 '044.46',
 'Water Sports',
 'Scuba Diving & Snorkeling',
 'Charleston',
 'South Carolina',
 'cash',
 '00000054',
 '10-03-2011',
 '4000007',
 '154.87',
 'Outdoor Recreation',
 'Running',
 'Long Beach',
 'California',
 'credit',
 '00000055',
 '12-16-2011',
 '4000006',
 '106.11',
 'Water Sports',
 'Swimming',
 'New York',
 'New York',
 'credit',
 '00000056',
 '06-21-2011',
 '4000002',
 '176.63',
 'Outdoor Recreation',
 'Geocaching',
 'Boston',
 'Massachusetts',
 'credit',
 '00000057',
 '12-20-2011',
 '4000003',
 '178.20',
 'Outdoor Recreation',
 'Skating',
 'San Jose',
 'California',
 'credit',
 '00000058',
 '12-29-2011',
 '4000002',
 '194.86',
 'Water Sports',
 'Windsurfing',
 'Oklahoma City',
 'Oklahoma',
 'credit',
 '00000059',
 '11-07-2011',
 '4000001',
 '021.43',
 'Winter Sports',
 'Snowboarding',
 'Philadelphia',
 'Pennsylvania',
 'cash']

In [16]:
transRDD.map(lambda x: x.split(",")).collect()

[['00000000',
  '06-26-2011',
  '4000001',
  '040.33',
  'Exercise & Fitness',
  'Cardio Machine Accessories',
  'Clarksville',
  'Tennessee',
  'credit'],
 ['00000001',
  '05-26-2011',
  '4000002',
  '198.44',
  'Exercise & Fitness',
  'Weightlifting Gloves',
  'Long Beach',
  'California',
  'credit'],
 ['00000002',
  '06-01-2011',
  '4000002',
  '005.58',
  'Exercise & Fitness',
  'Weightlifting Machine Accessories',
  'Anaheim',
  'California',
  'credit'],
 ['00000003',
  '06-05-2011',
  '4000003',
  '198.19',
  'Gymnastics',
  'Gymnastics Rings',
  'Milwaukee',
  'Wisconsin',
  'credit'],
 ['00000004',
  '12-17-2011',
  '4000002',
  '098.81',
  'Team Sports',
  'Field Hockey',
  'Nashville  ',
  'Tennessee',
  'credit'],
 ['00000005',
  '02-14-2011',
  '4000004',
  '193.63',
  'Outdoor Recreation',
  'Camping & Backpacking & Hiking',
  'Chicago',
  'Illinois',
  'credit'],
 ['00000006',
  '10-28-2011',
  '4000005',
  '027.89',
  'Puzzles',
  'Jigsaw Puzzles',
  'Charleston',
  'South Carolina',
  'credit'],
 ['00000007',
  '07-14-2011',
  '4000006',
  '096.01',
  'Outdoor Play Equipment',
  'Sandboxes',
  'Columbus',
  'Ohio',
  'credit'],
 ['00000008',
  '01-17-2011',
  '4000006',
  '010.44',
  'Winter Sports',
  'Snowmobiling',
  'Des Moines',
  'Iowa',
  'credit'],
 ['00000009',
  '05-17-2011',
  '4000006',
  '152.46',
  'Jumping',
  'Bungee Jumping',
  'St. Petersburg',
  'Florida',
  'credit'],
 ['00000010',
  '05-29-2011',
  '4000007',
  '180.28',
  'Outdoor Recreation',
  'Archery',
  'Reno',
  'Nevada',
  'credit'],
 ['00000011',
  '06-18-2011',
  '4000009',
  '121.39',
  'Outdoor Play Equipment',
  'Swing Sets',
  'Columbus',
  'Ohio',
  'credit'],
 ['00000012',
  '02-08-2011',
  '4000009',
  '041.52',
  'Indoor Games',
  'Bowling',
  'San Francisco',
  'California',
  'credit'],
 ['00000013',
  '03-13-2011',
  '4000010',
  '107.80',
  'Team Sports',
  'Field Hockey',
  'Honolulu  ',
  'Hawaii',
  'credit'],
 ['00000014',
  '02-25-2011',
  '4000010',
  '036.81',
  'Gymnastics',
  'Vaulting Horses',
  'Los Angeles',
  'California',
  'credit'],
 ['00000015',
  '10-20-2011',
  '4000001',
  '137.64',
  'Combat Sports',
  'Fencing',
  'Honolulu  ',
  'Hawaii',
  'credit'],
 ['00000016',
  '05-28-2011',
  '4000010',
  '035.56',
  'Exercise & Fitness',
  'Free Weight Bars',
  'Columbia',
  'South Carolina',
  'credit'],
 ['00000017',
  '10-18-2011',
  '4000008',
  '075.55',
  'Water Sports',
  'Scuba Diving & Snorkeling',
  'Omaha',
  'Nebraska',
  'credit'],
 ['00000018',
  '11-18-2011',
  '4000008',
  '088.65',
  'Team Sports',
  'Baseball',
  'Salt Lake City',
  'Utah',
  'credit'],
 ['00000019',
  '08-28-2011',
  '4000008',
  '051.81',
  'Water Sports',
  'Life Jackets',
  'Newark',
  'New Jersey',
  'credit'],
 ['00000020',
  '06-29-2011',
  '4000005',
  '041.55',
  'Exercise & Fitness',
  'Weightlifting Belts',
  'New Orleans',
  'Louisiana',
  'credit'],
 ['00000021',
  '02-14-2011',
  '4000005',
  '045.79',
  'Air Sports',
  'Parachutes',
  'New York',
  'New York',
  'credit'],
 ['00000022',
  '10-10-2011',
  '4000009',
  '019.64',
  'Water Sports',
  'Kitesurfing',
  'Saint Paul',
  'Minnesota',
  'credit'],
 ['00000023',
  '05-02-2011',
  '4000009',
  '099.50',
  'Gymnastics',
  'Gymnastics Rings',
  'Springfield',
  'Illinois',
  'credit'],
 ['00000024',
  '06-10-2011',
  '4000003',
  '151.20',
  'Water Sports',
  'Surfing',
  'Plano',
  'Texas',
  'credit'],
 ['00000025',
  '10-14-2011',
  '4000009',
  '144.20',
  'Indoor Games',
  'Darts',
  'Phoenix',
  'Arizona',
  'credit'],
 ['00000026',
  '10-11-2011',
  '4000009',
  '031.58',
  'Combat Sports',
  'Wrestling',
  'Orange',
  'California',
  'credit'],
 ['00000027',
  '09-29-2011',
  '4000010',
  '066.40',
  'Games',
  'Mahjong',
  'Fremont',
  'California',
  'credit'],
 ['00000028',
  '05-12-2011',
  '4000008',
  '079.78',
  'Team Sports',
  'Cricket',
  'Lexington',
  'Kentucky',
  'credit'],
 ['00000029',
  '06-03-2011',
  '4000001',
  '126.90',
  'Outdoor Recreation',
  'Hunting',
  'Phoenix',
  'Arizona',
  'credit'],
 ['00000030',
  '03-14-2011',
  '4000001',
  '047.05',
  'Water Sports',
  'Swimming',
  'Lincoln',
  'Nebraska',
  'credit'],
 ['00000031',
  '11-28-2011',
  '4000008',
  '005.03',
  'Games',
  'Dice & Dice Sets',
  'Los Angeles',
  'California',
  'credit'],
 ['00000032',
  '01-29-2011',
  '4000008',
  '020.13',
  'Team Sports',
  'Soccer',
  'Springfield',
  'Illinois',
  'credit'],
 ['00000033',
  '06-15-2011',
  '4000008',
  '154.15',
  'Outdoor Recreation',
  'Lawn Games',
  'Nashville  ',
  'Tennessee',
  'credit'],
 ['00000034',
  '05-06-2011',
  '4000008',
  '098.96',
  'Team Sports',
  'Indoor Volleyball',
  'Atlanta',
  'Georgia',
  'credit'],
 ['00000035',
  '04-12-2011',
  '4000008',
  '185.26',
  'Games',
  'Board Games',
  'Centennial',
  'Colorado',
  'credit'],
 ['00000036',
  '10-13-2011',
  '4000007',
  '035.66',
  'Team Sports',
  'Football',
  'Saint Paul',
  'Minnesota',
  'credit'],
 ['00000037',
  '04-19-2011',
  '4000007',
  '020.20',
  'Outdoor Recreation',
  'Shooting Games',
  'San Diego',
  'California',
  'credit'],
 ['00000038',
  '08-05-2011',
  '4000007',
  '150.60',
  'Outdoor Recreation',
  'Camping & Backpacking & Hiking',
  'Hampton  ',
  'Virginia',
  'credit'],
 ['00000039',
  '03-12-2011',
  '4000006',
  '174.36',
  'Outdoor Play Equipment',
  'Swing Sets',
  'Pittsburgh',
  'Pennsylvania',
  'credit'],
 ['00000040',
  '11-07-2011',
  '4000005',
  '165.10',
  'Team Sports',
  'Cheerleading',
  'Reno',
  'Nevada',
  'credit'],
 ['00000041',
  '04-16-2011',
  '4000004',
  '028.11',
  'Indoor Games',
  'Bowling',
  'Westminster',
  'Colorado',
  'cash'],
 ['00000042',
  '09-10-2011',
  '4000004',
  '038.52',
  'Outdoor Recreation',
  'Tetherball',
  'Denton',
  'Texas',
  'cash'],
 ['00000043',
  '04-22-2011',
  '4000004',
  '032.34',
  'Water Sports',
  'Water Polo',
  'Las Vegas',
  'Nevada',
  'cash'],
 ['00000044',
  '09-11-2011',
  '4000001',
  '135.37',
  'Water Sports',
  'Surfing',
  'Seattle',
  'Washington',
  'credit'],
 ['00000045',
  '11-27-2011',
  '4000001',
  '090.04',
  'Exercise & Fitness',
  'Abdominal Equipment',
  'Honolulu  ',
  'Hawaii',
  'credit'],
 ['00000046',
  '05-27-2011',
  '4000001',
  '052.29',
  'Gymnastics',
  'Vaulting Horses',
  'Cleveland',
  'Ohio',
  'credit'],
 ['00000047',
  '10-23-2011',
  '4000008',
  '100.10',
  'Outdoor Play Equipment',
  'Swing Sets',
  'Everett',
  'Washington',
  'credit'],
 ['00000048',
  '09-27-2011',
  '4000007',
  '157.94',
  'Exercise & Fitness',
  'Exercise Bands',
  'Philadelphia',
  'Pennsylvania',
  'credit'],
 ['00000049',
  '07-12-2011',
  '4000010',
  '144.59',
  'Jumping',
  'Jumping Stilts',
  'Cambridge',
  'Massachusetts',
  'credit'],
 ['00000050',
  '10-20-2011',
  '4000010',
  '055.93',
  'Jumping',
  'Pogo Sticks',
  'Everett',
  'Washington',
  'credit'],
 ['00000051',
  '02-17-2011',
  '4000002',
  '032.65',
  'Water Sports',
  'Life Jackets',
  'Columbus',
  'Georgia',
  'cash'],
 ['00000052',
  '02-04-2011',
  '4000005',
  '044.82',
  'Outdoor Play Equipment',
  'Lawn Water Slides',
  'Hampton  ',
  'Virginia',
  'cash'],
 ['00000053',
  '06-12-2011',
  '4000004',
  '044.46',
  'Water Sports',
  'Scuba Diving & Snorkeling',
  'Charleston',
  'South Carolina',
  'cash'],
 ['00000054',
  '10-03-2011',
  '4000007',
  '154.87',
  'Outdoor Recreation',
  'Running',
  'Long Beach',
  'California',
  'credit'],
 ['00000055',
  '12-16-2011',
  '4000006',
  '106.11',
  'Water Sports',
  'Swimming',
  'New York',
  'New York',
  'credit'],
 ['00000056',
  '06-21-2011',
  '4000002',
  '176.63',
  'Outdoor Recreation',
  'Geocaching',
  'Boston',
  'Massachusetts',
  'credit'],
 ['00000057',
  '12-20-2011',
  '4000003',
  '178.20',
  'Outdoor Recreation',
  'Skating',
  'San Jose',
  'California',
  'credit'],
 ['00000058',
  '12-29-2011',
  '4000002',
  '194.86',
  'Water Sports',
  'Windsurfing',
  'Oklahoma City',
  'Oklahoma',
  'credit'],
 ['00000059',
  '11-07-2011',
  '4000001',
  '021.43',
  'Winter Sports',
  'Snowboarding',
  'Philadelphia',
  'Pennsylvania',
  'cash']]

In [17]:
transRDD.map(lambda x: x.split(",")).count()

60

In [18]:
transRDD.flatMap(lambda x: x.split(",")).count()

540

In [23]:
transRDD.map(lambda x: x.split(",")).map(lambda x: (x[2],x[3])).collect()

[('4000001', '040.33'),
 ('4000002', '198.44'),
 ('4000002', '005.58'),
 ('4000003', '198.19'),
 ('4000002', '098.81'),
 ('4000004', '193.63'),
 ('4000005', '027.89'),
 ('4000006', '096.01'),
 ('4000006', '010.44'),
 ('4000006', '152.46'),
 ('4000007', '180.28'),
 ('4000009', '121.39'),
 ('4000009', '041.52'),
 ('4000010', '107.80'),
 ('4000010', '036.81'),
 ('4000001', '137.64'),
 ('4000010', '035.56'),
 ('4000008', '075.55'),
 ('4000008', '088.65'),
 ('4000008', '051.81'),
 ('4000005', '041.55'),
 ('4000005', '045.79'),
 ('4000009', '019.64'),
 ('4000009', '099.50'),
 ('4000003', '151.20'),
 ('4000009', '144.20'),
 ('4000009', '031.58'),
 ('4000010', '066.40'),
 ('4000008', '079.78'),
 ('4000001', '126.90'),
 ('4000001', '047.05'),
 ('4000008', '005.03'),
 ('4000008', '020.13'),
 ('4000008', '154.15'),
 ('4000008', '098.96'),
 ('4000008', '185.26'),
 ('4000007', '035.66'),
 ('4000007', '020.20'),
 ('4000007', '150.60'),
 ('4000006', '174.36'),
 ('4000005', '165.10'),
 ('4000004', '028.11'),
 ('4000004', '038.52'),
 ('4000004', '032.34'),
 ('4000001', '135.37'),
 ('4000001', '090.04'),
 ('4000001', '052.29'),
 ('4000008', '100.10'),
 ('4000007', '157.94'),
 ('4000010', '144.59'),
 ('4000010', '055.93'),
 ('4000002', '032.65'),
 ('4000005', '044.82'),
 ('4000004', '044.46'),
 ('4000007', '154.87'),
 ('4000006', '106.11'),
 ('4000002', '176.63'),
 ('4000003', '178.20'),
 ('4000002', '194.86'),
 ('4000001', '021.43')]

In [24]:
transRDD.map(lambda x: x.split(",")).map(lambda x: (x[2],x[3])).reduceByKey(lambda x1,x2: float(x1)+float(x2)).collect()

[('4000004', 337.06),
 ('4000007', 699.55),
 ('4000008', 859.42),
 ('4000001', 651.0500000000001),
 ('4000002', 706.97),
 ('4000003', 527.5899999999999),
 ('4000005', 325.15),
 ('4000006', 539.3800000000001),
 ('4000009', 457.83),
 ('4000010', 447.09000000000003)]

In [50]:
transRDD.map(lambda x: x.split(",")).map(lambda x: (x[2],x[3])).reduceByKey(lambda x1,x2: float(x1)+float(x2)).sortBy(lambda x: x[1], False).collect()

[('4000008', 859.42),
 ('4000002', 706.97),
 ('4000007', 699.55),
 ('4000001', 651.0500000000001),
 ('4000006', 539.3800000000001),
 ('4000003', 527.5899999999999),
 ('4000009', 457.83),
 ('4000010', 447.09000000000003),
 ('4000004', 337.06),
 ('4000005', 325.15)]

In [51]:
transRDD.map(lambda x: x.split(",")).map(lambda x: (x[2],x[3])).reduceByKey(lambda x1,x2: float(x1)+float(x2)).sortByKey().collect()

[('4000001', 651.0500000000001),
 ('4000002', 706.97),
 ('4000003', 527.5899999999999),
 ('4000004', 337.06),
 ('4000005', 325.15),
 ('4000006', 539.3800000000001),
 ('4000007', 699.55),
 ('4000008', 859.42),
 ('4000009', 457.83),
 ('4000010', 447.09000000000003)]

In [69]:
transRDD.map(lambda x: x.split(",")).map(lambda x: (x[2],x[4])).filter(lambda x: ("Sport" in x[1])).collect()

[('4000002', 'Team Sports'),
 ('4000006', 'Winter Sports'),
 ('4000010', 'Team Sports'),
 ('4000001', 'Combat Sports'),
 ('4000008', 'Water Sports'),
 ('4000008', 'Team Sports'),
 ('4000008', 'Water Sports'),
 ('4000005', 'Air Sports'),
 ('4000009', 'Water Sports'),
 ('4000003', 'Water Sports'),
 ('4000009', 'Combat Sports'),
 ('4000008', 'Team Sports'),
 ('4000001', 'Water Sports'),
 ('4000008', 'Team Sports'),
 ('4000008', 'Team Sports'),
 ('4000007', 'Team Sports'),
 ('4000005', 'Team Sports'),
 ('4000004', 'Water Sports'),
 ('4000001', 'Water Sports'),
 ('4000002', 'Water Sports'),
 ('4000004', 'Water Sports'),
 ('4000006', 'Water Sports'),
 ('4000002', 'Water Sports'),
 ('4000001', 'Winter Sports')]

In [206]:
transRDD.map(lambda x: x.split(",")).map(lambda x: (x[2],x[4])).distinct().reduceByKey(lambda x1,x2: x1 + (';') + x2).filter(lambda x: ("Water Sports" in x[1])).collect()

[('4000008',
  'Water Sports;Team Sports;Games;Outdoor Play Equipment;Outdoor Recreation'),
 ('4000004', 'Indoor Games;Water Sports;Outdoor Recreation'),
 ('4000003', 'Gymnastics;Outdoor Recreation;Water Sports'),
 ('4000006', 'Jumping;Outdoor Play Equipment;Winter Sports;Water Sports'),
 ('4000001',
  'Combat Sports;Outdoor Recreation;Gymnastics;Exercise & Fitness;Water Sports;Winter Sports'),
 ('4000009',
  'Gymnastics;Combat Sports;Outdoor Play Equipment;Indoor Games;Water Sports'),
 ('4000002', 'Outdoor Recreation;Exercise & Fitness;Team Sports;Water Sports')]

In [223]:
transRDD.map(lambda x: x.split(",")).map(lambda x: (x[2],x[3])).countByKey()

defaultdict(int,
            {'4000001': 8,
             '4000002': 6,
             '4000003': 3,
             '4000004': 5,
             '4000005': 5,
             '4000006': 5,
             '4000007': 6,
             '4000009': 6,
             '4000010': 6,
             '4000008': 10})

In [231]:
transRDD.map(lambda x: x.split(",")).map(lambda x: (x[2],x[4])).sortByKey().countByKey()

defaultdict(int,
            {'4000001': 8,
             '4000002': 6,
             '4000003': 3,
             '4000004': 5,
             '4000005': 5,
             '4000006': 5,
             '4000007': 6,
             '4000008': 10,
             '4000009': 6,
             '4000010': 6})

In [240]:
transRDD.map(lambda x: x.split(",")).map(lambda x: (x[2],x[3])).reduceByKey(lambda x1,x2: float(x1)+float(x2)).sortBy(lambda x: x[1]).collect()

[('4000005', 325.15),
 ('4000004', 337.06),
 ('4000010', 447.09000000000003),
 ('4000009', 457.83),
 ('4000003', 527.5899999999999),
 ('4000006', 539.3800000000001),
 ('4000001', 651.0500000000001),
 ('4000007', 699.55),
 ('4000002', 706.97),
 ('4000008', 859.42)]

In [242]:
columns = ["language", "users_Count"]
data = [("Java","20000"),("Python","100000"),("Scala","3000")]
rdd = spark.sparkContext.parallelize(data)

In [243]:
rdd.collect()

[('Java', '20000'), ('Python', '100000'), ('Scala', '3000')]

In [253]:
dfFromRDD1 = rdd.toDF()
dfFromRDD1.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)

In [255]:
dfFromRDD1 = rdd.toDF(columns)
dfFromRDD1.printSchema()

root
 |-- language: string (nullable = true)
 |-- users_Count: string (nullable = true)

In [261]:
dfFromRDD2 = spark.createDataFrame(data).toDF(*columns)
dfFromRDD2.printSchema()

root
 |-- language: string (nullable = true)
 |-- users_Count: string (nullable = true)

In [256]:
dfFromRDD1.show()

+--------+-----------+
|language|users_Count|
+--------+-----------+
|    Java|      20000|
|  Python|     100000|
|   Scala|       3000|
+--------+-----------+

In [262]:
dfFromRDD2.show()

+--------+-----------+
|language|users_Count|
+--------+-----------+
|    Java|      20000|
|  Python|     100000|
|   Scala|       3000|
+--------+-----------+

In [263]:
data = [("Java","20000"),("Python","100000"),("Scala","3000")]
dfFromRDD2 = spark.createDataFrame(data).toDF(*columns)
dfFromRDD2.show()

+--------+-----------+
|language|users_Count|
+--------+-----------+
|    Java|      20000|
|  Python|     100000|
|   Scala|       3000|
+--------+-----------+

In [264]:
from pyspark.sql import Row
rowData = map(lambda x: Row(*x), data)
dfFromRDD3 = spark.createDataFrame(rowData, columns)
dfFromRDD3.show()

+--------+-----------+
|language|users_Count|
+--------+-----------+
|    Java|      20000|
|  Python|     100000|
|   Scala|       3000|
+--------+-----------+

In [271]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
data2 = [("James","","Smith","36636","M",3000),
         ("Maria","Anne","Jones","39192","F",4000),
         ("Jen","Mary","Brown","","F",-1)
        ]
schema1 = StructType([
    StructField("firstname",StringType(),True), \
    StructField("middlename",StringType(),True), \
    StructField("lastname",StringType(),True), \
    StructField("id",StringType(),True), \
    StructField("gender",StringType(),True), \
    StructField("salary",IntegerType(),True), \
])

df = spark.createDataFrame(data = data2, schema= schema1)
df.printSchema()
df.show()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|   id|gender|salary|
+---------+----------+--------+-----+------+------+
|    James|          |   Smith|36636|     M|  3000|
|    Maria|      Anne|   Jones|39192|     F|  4000|
|      Jen|      Mary|   Brown|     |     F|    -1|
+---------+----------+--------+-----+------+------+

In [272]:
df = spark.read.csv("zipcodes.csv")
df.printSchema()
df.show()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)

+------------+-------+-----------+-------------------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+-------------+
|         _c0|    _c1|        _c2|                _c3|  _c4|           _c5|  _c6|    _c7|  _c8|  _c9| _c10|       _c11|   _c12|                _c13|                _c14|         _c15|           _c16|               _c17|      _c18|         _c19|
+------------+-------+-----------+-------------------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+-------------+
|RecordNumber|Zipcode|ZipCodeType|               City|State|  LocationType|  Lat|   Long|Xaxis|Yaxis|Zaxis|WorldRegion|Country|        LocationText|            Location|Decommisioned|TaxReturnsFiled|EstimatedPopulation|TotalWages|        Notes|
|           1|    704|   STANDARD|        PARC PARQUE|   PR|NOT ACCEPTABLE|17.96| -66.22| 0.38|-0.87|  0.3|         NA|     US|     Parc Parque, PR|NA-US-PR-PARC PARQUE|        FALSE|           null|               null|      null|         null|
|           2|    704|   STANDARD|PASEO COSTA DEL SUR|   PR|NOT ACCEPTABLE|17.96| -66.22| 0.38|-0.87|  0.3|         NA|     US|Paseo Costa Del S...|NA-US-PR-PASEO CO...|        FALSE|           null|               null|      null|         null|
|          10|    709|   STANDARD|       BDA SAN LUIS|   PR|NOT ACCEPTABLE|18.14| -66.26| 0.38|-0.86| 0.31|         NA|     US|    Bda San Luis, PR|NA-US-PR-BDA SAN ...|        FALSE|           null|               null|      null|         null|
|       61391|  76166|     UNIQUE|  CINGULAR WIRELESS|   TX|NOT ACCEPTABLE|32.72| -97.31| -0.1|-0.83| 0.54|         NA|     US|Cingular Wireless...|NA-US-TX-CINGULAR...|        FALSE|           null|               null|      null|         null|
|       61392|  76177|   STANDARD|         FORT WORTH|   TX|       PRIMARY|32.75| -97.33| -0.1|-0.83| 0.54|         NA|     US|      Fort Worth, TX| NA-US-TX-FORT WORTH|        FALSE|           2126|               4053| 122396986|         null|
|       61393|  76177|   STANDARD|           FT WORTH|   TX|    ACCEPTABLE|32.75| -97.33| -0.1|-0.83| 0.54|         NA|     US|        Ft Worth, TX|   NA-US-TX-FT WORTH|        FALSE|           2126|               4053| 122396986|         null|
|           4|    704|   STANDARD|    URB EUGENE RICE|   PR|NOT ACCEPTABLE|17.96| -66.22| 0.38|-0.87|  0.3|         NA|     US| Urb Eugene Rice, PR|NA-US-PR-URB EUGE...|        FALSE|           null|               null|      null|         null|
|       39827|  85209|   STANDARD|               MESA|   AZ|       PRIMARY|33.37|-111.64| -0.3|-0.77| 0.55|         NA|     US|            Mesa, AZ|       NA-US-AZ-MESA|        FALSE|          14962|              26883| 563792730|no NWS data, |
|       39828|  85210|   STANDARD|               MESA|   AZ|       PRIMARY|33.38|-111.84|-0.31|-0.77| 0.55|         NA|     US|            Mesa, AZ|       NA-US-AZ-MESA|        FALSE|          14374|              25446| 471000465|         null|
|       49345|  32046|   STANDARD|           HILLIARD|   FL|       PRIMARY|30.69| -81.92| 0.12|-0.85| 0.51|         NA|     US|        Hilliard, FL|   NA-US-FL-HILLIARD|        FALSE|           3922|               7443| 133112149|         null|
|       49346|  34445|     PO BOX|             HOLDER|   FL|       PRIMARY|28.96| -82.41| 0.11|-0.86| 0.48|         NA|     US|          Holder, FL|     NA-US-FL-HOLDER|        FALSE|           null|               null|      null|         null|
|       49347|  32564|   STANDARD|               HOLT|   FL|       PRIMARY|30.72| -86.67| 0.04|-0.85| 0.51|         NA|     US|            Holt, FL|       NA-US-FL-HOLT|        FALSE|           1207|               2190|  36395913|         null|
|       49348|  34487|     PO BOX|          HOMOSASSA|   FL|       PRIMARY|28.78| -82.61| 0.11|-0.86| 0.48|         NA|     US|       Homosassa, FL|  NA-US-FL-HOMOSASSA|        FALSE|           null|               null|      null|         null|
|          10|    708|   STANDARD|       BDA SAN LUIS|   PR|NOT ACCEPTABLE|18.14| -66.26| 0.38|-0.86| 0.31|         NA|     US|    Bda San Luis, PR|NA-US-PR-BDA SAN ...|        FALSE|           null|               null|      null|         null|
|           3|    704|   STANDARD|      SECT LANAUSSE|   PR|NOT ACCEPTABLE|17.96| -66.22| 0.38|-0.87|  0.3|         NA|     US|   Sect Lanausse, PR|NA-US-PR-SECT LAN...|        FALSE|           null|               null|      null|         null|
|       54354|  36275|     PO BOX|      SPRING GARDEN|   AL|       PRIMARY|33.97| -85.55| 0.06|-0.82| 0.55|         NA|     US|   Spring Garden, AL|NA-US-AL-SPRING G...|        FALSE|           null|               null|      null|         null|
|       54355|  35146|   STANDARD|        SPRINGVILLE|   AL|       PRIMARY|33.77| -86.47| 0.05|-0.82| 0.55|         NA|     US|     Springville, AL|NA-US-AL-SPRINGVILLE|        FALSE|           4046|               7845| 172127599|         null|
|       54356|  35585|   STANDARD|        SPRUCE PINE|   AL|       PRIMARY|34.37| -87.69| 0.03|-0.82| 0.56|         NA|     US|     Spruce Pine, AL|NA-US-AL-SPRUCE PINE|        FALSE|            610|               1209|  18525517|         null|
|       76511|  27007|   STANDARD|           ASH HILL|   NC|NOT ACCEPTABLE| 36.4| -80.56| 0.13|-0.79| 0.59|         NA|     US|        Ash Hill, NC|   NA-US-NC-ASH HILL|        FALSE|            842|               1666|  28876493|         null|
+------------+-------+-----------+-------------------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+-------------+
only showing top 20 rows

In [273]:
df = spark.read.format("csv").load("zipcodes.csv")
df.show()

+------------+-------+-----------+-------------------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+-------------+
|         _c0|    _c1|        _c2|                _c3|  _c4|           _c5|  _c6|    _c7|  _c8|  _c9| _c10|       _c11|   _c12|                _c13|                _c14|         _c15|           _c16|               _c17|      _c18|         _c19|
+------------+-------+-----------+-------------------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+-------------+
|RecordNumber|Zipcode|ZipCodeType|               City|State|  LocationType|  Lat|   Long|Xaxis|Yaxis|Zaxis|WorldRegion|Country|        LocationText|            Location|Decommisioned|TaxReturnsFiled|EstimatedPopulation|TotalWages|        Notes|
|           1|    704|   STANDARD|        PARC PARQUE|   PR|NOT ACCEPTABLE|17.96| -66.22| 0.38|-0.87|  0.3|         NA|     US|     Parc Parque, PR|NA-US-PR-PARC PARQUE|        FALSE|           null|               null|      null|         null|
|           2|    704|   STANDARD|PASEO COSTA DEL SUR|   PR|NOT ACCEPTABLE|17.96| -66.22| 0.38|-0.87|  0.3|         NA|     US|Paseo Costa Del S...|NA-US-PR-PASEO CO...|        FALSE|           null|               null|      null|         null|
|          10|    709|   STANDARD|       BDA SAN LUIS|   PR|NOT ACCEPTABLE|18.14| -66.26| 0.38|-0.86| 0.31|         NA|     US|    Bda San Luis, PR|NA-US-PR-BDA SAN ...|        FALSE|           null|               null|      null|         null|
|       61391|  76166|     UNIQUE|  CINGULAR WIRELESS|   TX|NOT ACCEPTABLE|32.72| -97.31| -0.1|-0.83| 0.54|         NA|     US|Cingular Wireless...|NA-US-TX-CINGULAR...|        FALSE|           null|               null|      null|         null|
|       61392|  76177|   STANDARD|         FORT WORTH|   TX|       PRIMARY|32.75| -97.33| -0.1|-0.83| 0.54|         NA|     US|      Fort Worth, TX| NA-US-TX-FORT WORTH|        FALSE|           2126|               4053| 122396986|         null|
|       61393|  76177|   STANDARD|           FT WORTH|   TX|    ACCEPTABLE|32.75| -97.33| -0.1|-0.83| 0.54|         NA|     US|        Ft Worth, TX|   NA-US-TX-FT WORTH|        FALSE|           2126|               4053| 122396986|         null|
|           4|    704|   STANDARD|    URB EUGENE RICE|   PR|NOT ACCEPTABLE|17.96| -66.22| 0.38|-0.87|  0.3|         NA|     US| Urb Eugene Rice, PR|NA-US-PR-URB EUGE...|        FALSE|           null|               null|      null|         null|
|       39827|  85209|   STANDARD|               MESA|   AZ|       PRIMARY|33.37|-111.64| -0.3|-0.77| 0.55|         NA|     US|            Mesa, AZ|       NA-US-AZ-MESA|        FALSE|          14962|              26883| 563792730|no NWS data, |
|       39828|  85210|   STANDARD|               MESA|   AZ|       PRIMARY|33.38|-111.84|-0.31|-0.77| 0.55|         NA|     US|            Mesa, AZ|       NA-US-AZ-MESA|        FALSE|          14374|              25446| 471000465|         null|
|       49345|  32046|   STANDARD|           HILLIARD|   FL|       PRIMARY|30.69| -81.92| 0.12|-0.85| 0.51|         NA|     US|        Hilliard, FL|   NA-US-FL-HILLIARD|        FALSE|           3922|               7443| 133112149|         null|
|       49346|  34445|     PO BOX|             HOLDER|   FL|       PRIMARY|28.96| -82.41| 0.11|-0.86| 0.48|         NA|     US|          Holder, FL|     NA-US-FL-HOLDER|        FALSE|           null|               null|      null|         null|
|       49347|  32564|   STANDARD|               HOLT|   FL|       PRIMARY|30.72| -86.67| 0.04|-0.85| 0.51|         NA|     US|            Holt, FL|       NA-US-FL-HOLT|        FALSE|           1207|               2190|  36395913|         null|
|       49348|  34487|     PO BOX|          HOMOSASSA|   FL|       PRIMARY|28.78| -82.61| 0.11|-0.86| 0.48|         NA|     US|       Homosassa, FL|  NA-US-FL-HOMOSASSA|        FALSE|           null|               null|      null|         null|
|          10|    708|   STANDARD|       BDA SAN LUIS|   PR|NOT ACCEPTABLE|18.14| -66.26| 0.38|-0.86| 0.31|         NA|     US|    Bda San Luis, PR|NA-US-PR-BDA SAN ...|        FALSE|           null|               null|      null|         null|
|           3|    704|   STANDARD|      SECT LANAUSSE|   PR|NOT ACCEPTABLE|17.96| -66.22| 0.38|-0.87|  0.3|         NA|     US|   Sect Lanausse, PR|NA-US-PR-SECT LAN...|        FALSE|           null|               null|      null|         null|
|       54354|  36275|     PO BOX|      SPRING GARDEN|   AL|       PRIMARY|33.97| -85.55| 0.06|-0.82| 0.55|         NA|     US|   Spring Garden, AL|NA-US-AL-SPRING G...|        FALSE|           null|               null|      null|         null|
|       54355|  35146|   STANDARD|        SPRINGVILLE|   AL|       PRIMARY|33.77| -86.47| 0.05|-0.82| 0.55|         NA|     US|     Springville, AL|NA-US-AL-SPRINGVILLE|        FALSE|           4046|               7845| 172127599|         null|
|       54356|  35585|   STANDARD|        SPRUCE PINE|   AL|       PRIMARY|34.37| -87.69| 0.03|-0.82| 0.56|         NA|     US|     Spruce Pine, AL|NA-US-AL-SPRUCE PINE|        FALSE|            610|               1209|  18525517|         null|
|       76511|  27007|   STANDARD|           ASH HILL|   NC|NOT ACCEPTABLE| 36.4| -80.56| 0.13|-0.79| 0.59|         NA|     US|        Ash Hill, NC|   NA-US-NC-ASH HILL|        FALSE|            842|               1666|  28876493|         null|
+------------+-------+-----------+-------------------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+-------------+
only showing top 20 rows

In [274]:
df2 = spark.read.option("header",True).csv("zipcodes.csv")
df2.printSchema()
df2.show()

root
 |-- RecordNumber: string (nullable = true)
 |-- Zipcode: string (nullable = true)
 |-- ZipCodeType: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- LocationType: string (nullable = true)
 |-- Lat: string (nullable = true)
 |-- Long: string (nullable = true)
 |-- Xaxis: string (nullable = true)
 |-- Yaxis: string (nullable = true)
 |-- Zaxis: string (nullable = true)
 |-- WorldRegion: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- LocationText: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Decommisioned: string (nullable = true)
 |-- TaxReturnsFiled: string (nullable = true)
 |-- EstimatedPopulation: string (nullable = true)
 |-- TotalWages: string (nullable = true)
 |-- Notes: string (nullable = true)

+------------+-------+-----------+-------------------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+-------------+
|RecordNumber|Zipcode|ZipCodeType|               City|State|  LocationType|  Lat|   Long|Xaxis|Yaxis|Zaxis|WorldRegion|Country|        LocationText|            Location|Decommisioned|TaxReturnsFiled|EstimatedPopulation|TotalWages|        Notes|
+------------+-------+-----------+-------------------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+-------------+
|           1|    704|   STANDARD|        PARC PARQUE|   PR|NOT ACCEPTABLE|17.96| -66.22| 0.38|-0.87|  0.3|         NA|     US|     Parc Parque, PR|NA-US-PR-PARC PARQUE|        FALSE|           null|               null|      null|         null|
|           2|    704|   STANDARD|PASEO COSTA DEL SUR|   PR|NOT ACCEPTABLE|17.96| -66.22| 0.38|-0.87|  0.3|         NA|     US|Paseo Costa Del S...|NA-US-PR-PASEO CO...|        FALSE|           null|               null|      null|         null|
|          10|    709|   STANDARD|       BDA SAN LUIS|   PR|NOT ACCEPTABLE|18.14| -66.26| 0.38|-0.86| 0.31|         NA|     US|    Bda San Luis, PR|NA-US-PR-BDA SAN ...|        FALSE|           null|               null|      null|         null|
|       61391|  76166|     UNIQUE|  CINGULAR WIRELESS|   TX|NOT ACCEPTABLE|32.72| -97.31| -0.1|-0.83| 0.54|         NA|     US|Cingular Wireless...|NA-US-TX-CINGULAR...|        FALSE|           null|               null|      null|         null|
|       61392|  76177|   STANDARD|         FORT WORTH|   TX|       PRIMARY|32.75| -97.33| -0.1|-0.83| 0.54|         NA|     US|      Fort Worth, TX| NA-US-TX-FORT WORTH|        FALSE|           2126|               4053| 122396986|         null|
|       61393|  76177|   STANDARD|           FT WORTH|   TX|    ACCEPTABLE|32.75| -97.33| -0.1|-0.83| 0.54|         NA|     US|        Ft Worth, TX|   NA-US-TX-FT WORTH|        FALSE|           2126|               4053| 122396986|         null|
|           4|    704|   STANDARD|    URB EUGENE RICE|   PR|NOT ACCEPTABLE|17.96| -66.22| 0.38|-0.87|  0.3|         NA|     US| Urb Eugene Rice, PR|NA-US-PR-URB EUGE...|        FALSE|           null|               null|      null|         null|
|       39827|  85209|   STANDARD|               MESA|   AZ|       PRIMARY|33.37|-111.64| -0.3|-0.77| 0.55|         NA|     US|            Mesa, AZ|       NA-US-AZ-MESA|        FALSE|          14962|              26883| 563792730|no NWS data, |
|       39828|  85210|   STANDARD|               MESA|   AZ|       PRIMARY|33.38|-111.84|-0.31|-0.77| 0.55|         NA|     US|            Mesa, AZ|       NA-US-AZ-MESA|        FALSE|          14374|              25446| 471000465|         null|
|       49345|  32046|   STANDARD|           HILLIARD|   FL|       PRIMARY|30.69| -81.92| 0.12|-0.85| 0.51|         NA|     US|        Hilliard, FL|   NA-US-FL-HILLIARD|        FALSE|           3922|               7443| 133112149|         null|
|       49346|  34445|     PO BOX|             HOLDER|   FL|       PRIMARY|28.96| -82.41| 0.11|-0.86| 0.48|         NA|     US|          Holder, FL|     NA-US-FL-HOLDER|        FALSE|           null|               null|      null|         null|
|       49347|  32564|   STANDARD|               HOLT|   FL|       PRIMARY|30.72| -86.67| 0.04|-0.85| 0.51|         NA|     US|            Holt, FL|       NA-US-FL-HOLT|        FALSE|           1207|               2190|  36395913|         null|
|       49348|  34487|     PO BOX|          HOMOSASSA|   FL|       PRIMARY|28.78| -82.61| 0.11|-0.86| 0.48|         NA|     US|       Homosassa, FL|  NA-US-FL-HOMOSASSA|        FALSE|           null|               null|      null|         null|
|          10|    708|   STANDARD|       BDA SAN LUIS|   PR|NOT ACCEPTABLE|18.14| -66.26| 0.38|-0.86| 0.31|         NA|     US|    Bda San Luis, PR|NA-US-PR-BDA SAN ...|        FALSE|           null|               null|      null|         null|
|           3|    704|   STANDARD|      SECT LANAUSSE|   PR|NOT ACCEPTABLE|17.96| -66.22| 0.38|-0.87|  0.3|         NA|     US|   Sect Lanausse, PR|NA-US-PR-SECT LAN...|        FALSE|           null|               null|      null|         null|
|       54354|  36275|     PO BOX|      SPRING GARDEN|   AL|       PRIMARY|33.97| -85.55| 0.06|-0.82| 0.55|         NA|     US|   Spring Garden, AL|NA-US-AL-SPRING G...|        FALSE|           null|               null|      null|         null|
|       54355|  35146|   STANDARD|        SPRINGVILLE|   AL|       PRIMARY|33.77| -86.47| 0.05|-0.82| 0.55|         NA|     US|     Springville, AL|NA-US-AL-SPRINGVILLE|        FALSE|           4046|               7845| 172127599|         null|
|       54356|  35585|   STANDARD|        SPRUCE PINE|   AL|       PRIMARY|34.37| -87.69| 0.03|-0.82| 0.56|         NA|     US|     Spruce Pine, AL|NA-US-AL-SPRUCE PINE|        FALSE|            610|               1209|  18525517|         null|
|       76511|  27007|   STANDARD|           ASH HILL|   NC|NOT ACCEPTABLE| 36.4| -80.56| 0.13|-0.79| 0.59|         NA|     US|        Ash Hill, NC|   NA-US-NC-ASH HILL|        FALSE|            842|               1666|  28876493|         null|
|       76512|  27203|   STANDARD|           ASHEBORO|   NC|       PRIMARY|35.71| -79.81| 0.14|-0.79| 0.58|         NA|     US|        Asheboro, NC|   NA-US-NC-ASHEBORO|        FALSE|           8355|              15228| 215474318|         null|
+------------+-------+-----------+-------------------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+-------------+
only showing top 20 rows

In [281]:
dftest1 = spark.read.csv("/E:/spark/spark-3.0.3-bin-hadoop2.7/BTGK/")
dftest1.show()

+------+-------+------+---------+
|   _c0|    _c1|   _c2|      _c3|
+------+-------+------+---------+
|userId|movieId|rating|timestamp|
|     1|      1|   4.0|964982703|
|     1|      3|   4.0|964981247|
|     1|      6|   4.0|964982224|
|     1|     47|   5.0|964983815|
|     1|     50|   5.0|964982931|
|     1|     70|   3.0|964982400|
|     1|    101|   5.0|964980868|
|     1|    110|   4.0|964982176|
|     1|    151|   5.0|964984041|
|     1|    157|   5.0|964984100|
|     1|    163|   5.0|964983650|
|     1|    216|   5.0|964981208|
|     1|    223|   3.0|964980985|
|     1|    231|   5.0|964981179|
|     1|    235|   4.0|964980908|
|     1|    260|   5.0|964981680|
|     1|    296|   3.0|964982967|
|     1|    316|   3.0|964982310|
|     1|    333|   5.0|964981179|
+------+-------+------+---------+
only showing top 20 rows

In [286]:
df3 = spark.read.options(delimiter=',').csv("zipcodes.csv")
df3.printSchema()
df3.show()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)

+------------+-------+-----------+-------------------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+-------------+
|         _c0|    _c1|        _c2|                _c3|  _c4|           _c5|  _c6|    _c7|  _c8|  _c9| _c10|       _c11|   _c12|                _c13|                _c14|         _c15|           _c16|               _c17|      _c18|         _c19|
+------------+-------+-----------+-------------------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+-------------+
|RecordNumber|Zipcode|ZipCodeType|               City|State|  LocationType|  Lat|   Long|Xaxis|Yaxis|Zaxis|WorldRegion|Country|        LocationText|            Location|Decommisioned|TaxReturnsFiled|EstimatedPopulation|TotalWages|        Notes|
|           1|    704|   STANDARD|        PARC PARQUE|   PR|NOT ACCEPTABLE|17.96| -66.22| 0.38|-0.87|  0.3|         NA|     US|     Parc Parque, PR|NA-US-PR-PARC PARQUE|        FALSE|           null|               null|      null|         null|
|           2|    704|   STANDARD|PASEO COSTA DEL SUR|   PR|NOT ACCEPTABLE|17.96| -66.22| 0.38|-0.87|  0.3|         NA|     US|Paseo Costa Del S...|NA-US-PR-PASEO CO...|        FALSE|           null|               null|      null|         null|
|          10|    709|   STANDARD|       BDA SAN LUIS|   PR|NOT ACCEPTABLE|18.14| -66.26| 0.38|-0.86| 0.31|         NA|     US|    Bda San Luis, PR|NA-US-PR-BDA SAN ...|        FALSE|           null|               null|      null|         null|
|       61391|  76166|     UNIQUE|  CINGULAR WIRELESS|   TX|NOT ACCEPTABLE|32.72| -97.31| -0.1|-0.83| 0.54|         NA|     US|Cingular Wireless...|NA-US-TX-CINGULAR...|        FALSE|           null|               null|      null|         null|
|       61392|  76177|   STANDARD|         FORT WORTH|   TX|       PRIMARY|32.75| -97.33| -0.1|-0.83| 0.54|         NA|     US|      Fort Worth, TX| NA-US-TX-FORT WORTH|        FALSE|           2126|               4053| 122396986|         null|
|       61393|  76177|   STANDARD|           FT WORTH|   TX|    ACCEPTABLE|32.75| -97.33| -0.1|-0.83| 0.54|         NA|     US|        Ft Worth, TX|   NA-US-TX-FT WORTH|        FALSE|           2126|               4053| 122396986|         null|
|           4|    704|   STANDARD|    URB EUGENE RICE|   PR|NOT ACCEPTABLE|17.96| -66.22| 0.38|-0.87|  0.3|         NA|     US| Urb Eugene Rice, PR|NA-US-PR-URB EUGE...|        FALSE|           null|               null|      null|         null|
|       39827|  85209|   STANDARD|               MESA|   AZ|       PRIMARY|33.37|-111.64| -0.3|-0.77| 0.55|         NA|     US|            Mesa, AZ|       NA-US-AZ-MESA|        FALSE|          14962|              26883| 563792730|no NWS data, |
|       39828|  85210|   STANDARD|               MESA|   AZ|       PRIMARY|33.38|-111.84|-0.31|-0.77| 0.55|         NA|     US|            Mesa, AZ|       NA-US-AZ-MESA|        FALSE|          14374|              25446| 471000465|         null|
|       49345|  32046|   STANDARD|           HILLIARD|   FL|       PRIMARY|30.69| -81.92| 0.12|-0.85| 0.51|         NA|     US|        Hilliard, FL|   NA-US-FL-HILLIARD|        FALSE|           3922|               7443| 133112149|         null|
|       49346|  34445|     PO BOX|             HOLDER|   FL|       PRIMARY|28.96| -82.41| 0.11|-0.86| 0.48|         NA|     US|          Holder, FL|     NA-US-FL-HOLDER|        FALSE|           null|               null|      null|         null|
|       49347|  32564|   STANDARD|               HOLT|   FL|       PRIMARY|30.72| -86.67| 0.04|-0.85| 0.51|         NA|     US|            Holt, FL|       NA-US-FL-HOLT|        FALSE|           1207|               2190|  36395913|         null|
|       49348|  34487|     PO BOX|          HOMOSASSA|   FL|       PRIMARY|28.78| -82.61| 0.11|-0.86| 0.48|         NA|     US|       Homosassa, FL|  NA-US-FL-HOMOSASSA|        FALSE|           null|               null|      null|         null|
|          10|    708|   STANDARD|       BDA SAN LUIS|   PR|NOT ACCEPTABLE|18.14| -66.26| 0.38|-0.86| 0.31|         NA|     US|    Bda San Luis, PR|NA-US-PR-BDA SAN ...|        FALSE|           null|               null|      null|         null|
|           3|    704|   STANDARD|      SECT LANAUSSE|   PR|NOT ACCEPTABLE|17.96| -66.22| 0.38|-0.87|  0.3|         NA|     US|   Sect Lanausse, PR|NA-US-PR-SECT LAN...|        FALSE|           null|               null|      null|         null|
|       54354|  36275|     PO BOX|      SPRING GARDEN|   AL|       PRIMARY|33.97| -85.55| 0.06|-0.82| 0.55|         NA|     US|   Spring Garden, AL|NA-US-AL-SPRING G...|        FALSE|           null|               null|      null|         null|
|       54355|  35146|   STANDARD|        SPRINGVILLE|   AL|       PRIMARY|33.77| -86.47| 0.05|-0.82| 0.55|         NA|     US|     Springville, AL|NA-US-AL-SPRINGVILLE|        FALSE|           4046|               7845| 172127599|         null|
|       54356|  35585|   STANDARD|        SPRUCE PINE|   AL|       PRIMARY|34.37| -87.69| 0.03|-0.82| 0.56|         NA|     US|     Spruce Pine, AL|NA-US-AL-SPRUCE PINE|        FALSE|            610|               1209|  18525517|         null|
|       76511|  27007|   STANDARD|           ASH HILL|   NC|NOT ACCEPTABLE| 36.4| -80.56| 0.13|-0.79| 0.59|         NA|     US|        Ash Hill, NC|   NA-US-NC-ASH HILL|        FALSE|            842|               1666|  28876493|         null|
+------------+-------+-----------+-------------------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+-------------+
only showing top 20 rows

In [287]:
df4 = spark.read.options(inferSchema='True',delimiter=',').csv("zipcodes.csv")
df4.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)

In [291]:
df3 = spark.read.options(inferSchema='True',delimiter=',').csv("zipcodesNoHeader.csv")
df3.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: integer (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: double (nullable = true)
 |-- _c7: double (nullable = true)
 |-- _c8: double (nullable = true)
 |-- _c9: double (nullable = true)
 |-- _c10: double (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: boolean (nullable = true)
 |-- _c16: integer (nullable = true)
 |-- _c17: integer (nullable = true)
 |-- _c18: integer (nullable = true)
 |-- _c19: string (nullable = true)

In [298]:
df3 = spark.read.options(header = 'true', inferSchema = 'false', delimiter = ',').csv("zipcodes.csv")
df3.printSchema()

root
 |-- RecordNumber: string (nullable = true)
 |-- Zipcode: string (nullable = true)
 |-- ZipCodeType: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- LocationType: string (nullable = true)
 |-- Lat: string (nullable = true)
 |-- Long: string (nullable = true)
 |-- Xaxis: string (nullable = true)
 |-- Yaxis: string (nullable = true)
 |-- Zaxis: string (nullable = true)
 |-- WorldRegion: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- LocationText: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Decommisioned: string (nullable = true)
 |-- TaxReturnsFiled: string (nullable = true)
 |-- EstimatedPopulation: string (nullable = true)
 |-- TotalWages: string (nullable = true)
 |-- Notes: string (nullable = true)

In [304]:
from pyspark.sql.types import *
schema = StructType() \
.add ("RecordNumber", IntegerType(), True)\
.add ("Zipcode" ,IntegerType() ,True)\
.add ("ZipCodeType" ,StringType(), True)\
.add ("City" ,StringType(), True)\
.add ("State", StringType(), True)\
.add ("LocationType", StringType(), True)\
.add ("Lat" ,DoubleType(), True)\
.add ("Long" ,DoubleType(), True)\
.add ("Xaxis", IntegerType(), True)\
.add ("Yaxis", DoubleType(), True)\
.add ("Zaxis", DoubleType(), True)\
.add ("WorldRegion", StringType(), True)\
.add ("Country" ,StringType(), True)\
.add ("LocationText" ,StringType(), True)\
.add ("Location" ,StringType() ,True)\
.add ("Decommisioned" ,BooleanType(), True)\
.add ("TaxReturnsFiled", StringType(), True)\
.add ("EstimatedPopulation" ,IntegerType(), True)\
.add ("TotalWages", IntegerType(), True)\
.add ("Notes" ,StringType(), True)
      
df_with_schema = spark.read.format("csv").option("header",True).schema(schema).load("zipcodes.csv")
df_with_schema.printSchema()

root
 |-- RecordNumber: integer (nullable = true)
 |-- Zipcode: integer (nullable = true)
 |-- ZipCodeType: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- LocationType: string (nullable = true)
 |-- Lat: double (nullable = true)
 |-- Long: double (nullable = true)
 |-- Xaxis: integer (nullable = true)
 |-- Yaxis: double (nullable = true)
 |-- Zaxis: double (nullable = true)
 |-- WorldRegion: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- LocationText: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Decommisioned: boolean (nullable = true)
 |-- TaxReturnsFiled: string (nullable = true)
 |-- EstimatedPopulation: integer (nullable = true)
 |-- TotalWages: integer (nullable = true)
 |-- Notes: string (nullable = true)

In [307]:
transDF = spark.read.options(delimiter=',').schema('trans_id INT, date STRING, cust_ID INT, amount DOUBLE, game STRING, equipment STRING, city STRING, state STRING, mode STRING').csv("trans.txt")
transDF.printSchema()
transDF.show()

root
 |-- trans_id: integer (nullable = true)
 |-- date: string (nullable = true)
 |-- cust_ID: integer (nullable = true)
 |-- amount: double (nullable = true)
 |-- game: string (nullable = true)
 |-- equipment: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- mode: string (nullable = true)

+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
|trans_id|      date|cust_ID|amount|                game|           equipment|          city|         state|  mode|
+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
|       0|06-26-2011|4000001| 40.33|  Exercise & Fitness|Cardio Machine Ac...|   Clarksville|     Tennessee|credit|
|       1|05-26-2011|4000002|198.44|  Exercise & Fitness|Weightlifting Gloves|    Long Beach|    California|credit|
|       2|06-01-2011|4000002|  5.58|  Exercise & Fitness|Weightlifting Mac...|       Anaheim|    California|credit|
|       3|06-05-2011|4000003|198.19|          Gymnastics|    Gymnastics Rings|     Milwaukee|     Wisconsin|credit|
|       4|12-17-2011|4000002| 98.81|         Team Sports|        Field Hockey|   Nashville  |     Tennessee|credit|
|       5|02-14-2011|4000004|193.63|  Outdoor Recreation|Camping & Backpac...|       Chicago|      Illinois|credit|
|       6|10-28-2011|4000005| 27.89|             Puzzles|      Jigsaw Puzzles|    Charleston|South Carolina|credit|
|       7|07-14-2011|4000006| 96.01|Outdoor Play Equi...|           Sandboxes|      Columbus|          Ohio|credit|
|       8|01-17-2011|4000006| 10.44|       Winter Sports|        Snowmobiling|    Des Moines|          Iowa|credit|
|       9|05-17-2011|4000006|152.46|             Jumping|      Bungee Jumping|St. Petersburg|       Florida|credit|
|      10|05-29-2011|4000007|180.28|  Outdoor Recreation|             Archery|          Reno|        Nevada|credit|
|      11|06-18-2011|4000009|121.39|Outdoor Play Equi...|          Swing Sets|      Columbus|          Ohio|credit|
|      12|02-08-2011|4000009| 41.52|        Indoor Games|             Bowling| San Francisco|    California|credit|
|      13|03-13-2011|4000010| 107.8|         Team Sports|        Field Hockey|    Honolulu  |        Hawaii|credit|
|      14|02-25-2011|4000010| 36.81|          Gymnastics|     Vaulting Horses|   Los Angeles|    California|credit|
|      15|10-20-2011|4000001|137.64|       Combat Sports|             Fencing|    Honolulu  |        Hawaii|credit|
|      16|05-28-2011|4000010| 35.56|  Exercise & Fitness|    Free Weight Bars|      Columbia|South Carolina|credit|
|      17|10-18-2011|4000008| 75.55|        Water Sports|Scuba Diving & Sn...|         Omaha|      Nebraska|credit|
|      18|11-18-2011|4000008| 88.65|         Team Sports|            Baseball|Salt Lake City|          Utah|credit|
|      19|08-28-2011|4000008| 51.81|        Water Sports|        Life Jackets|        Newark|    New Jersey|credit|
+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
only showing top 20 rows

In [309]:
df.show()

+------------+-------+-----------+-------------------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+-------------+
|         _c0|    _c1|        _c2|                _c3|  _c4|           _c5|  _c6|    _c7|  _c8|  _c9| _c10|       _c11|   _c12|                _c13|                _c14|         _c15|           _c16|               _c17|      _c18|         _c19|
+------------+-------+-----------+-------------------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+-------------+
|RecordNumber|Zipcode|ZipCodeType|               City|State|  LocationType|  Lat|   Long|Xaxis|Yaxis|Zaxis|WorldRegion|Country|        LocationText|            Location|Decommisioned|TaxReturnsFiled|EstimatedPopulation|TotalWages|        Notes|
|           1|    704|   STANDARD|        PARC PARQUE|   PR|NOT ACCEPTABLE|17.96| -66.22| 0.38|-0.87|  0.3|         NA|     US|     Parc Parque, PR|NA-US-PR-PARC PARQUE|        FALSE|           null|               null|      null|         null|
|           2|    704|   STANDARD|PASEO COSTA DEL SUR|   PR|NOT ACCEPTABLE|17.96| -66.22| 0.38|-0.87|  0.3|         NA|     US|Paseo Costa Del S...|NA-US-PR-PASEO CO...|        FALSE|           null|               null|      null|         null|
|          10|    709|   STANDARD|       BDA SAN LUIS|   PR|NOT ACCEPTABLE|18.14| -66.26| 0.38|-0.86| 0.31|         NA|     US|    Bda San Luis, PR|NA-US-PR-BDA SAN ...|        FALSE|           null|               null|      null|         null|
|       61391|  76166|     UNIQUE|  CINGULAR WIRELESS|   TX|NOT ACCEPTABLE|32.72| -97.31| -0.1|-0.83| 0.54|         NA|     US|Cingular Wireless...|NA-US-TX-CINGULAR...|        FALSE|           null|               null|      null|         null|
|       61392|  76177|   STANDARD|         FORT WORTH|   TX|       PRIMARY|32.75| -97.33| -0.1|-0.83| 0.54|         NA|     US|      Fort Worth, TX| NA-US-TX-FORT WORTH|        FALSE|           2126|               4053| 122396986|         null|
|       61393|  76177|   STANDARD|           FT WORTH|   TX|    ACCEPTABLE|32.75| -97.33| -0.1|-0.83| 0.54|         NA|     US|        Ft Worth, TX|   NA-US-TX-FT WORTH|        FALSE|           2126|               4053| 122396986|         null|
|           4|    704|   STANDARD|    URB EUGENE RICE|   PR|NOT ACCEPTABLE|17.96| -66.22| 0.38|-0.87|  0.3|         NA|     US| Urb Eugene Rice, PR|NA-US-PR-URB EUGE...|        FALSE|           null|               null|      null|         null|
|       39827|  85209|   STANDARD|               MESA|   AZ|       PRIMARY|33.37|-111.64| -0.3|-0.77| 0.55|         NA|     US|            Mesa, AZ|       NA-US-AZ-MESA|        FALSE|          14962|              26883| 563792730|no NWS data, |
|       39828|  85210|   STANDARD|               MESA|   AZ|       PRIMARY|33.38|-111.84|-0.31|-0.77| 0.55|         NA|     US|            Mesa, AZ|       NA-US-AZ-MESA|        FALSE|          14374|              25446| 471000465|         null|
|       49345|  32046|   STANDARD|           HILLIARD|   FL|       PRIMARY|30.69| -81.92| 0.12|-0.85| 0.51|         NA|     US|        Hilliard, FL|   NA-US-FL-HILLIARD|        FALSE|           3922|               7443| 133112149|         null|
|       49346|  34445|     PO BOX|             HOLDER|   FL|       PRIMARY|28.96| -82.41| 0.11|-0.86| 0.48|         NA|     US|          Holder, FL|     NA-US-FL-HOLDER|        FALSE|           null|               null|      null|         null|
|       49347|  32564|   STANDARD|               HOLT|   FL|       PRIMARY|30.72| -86.67| 0.04|-0.85| 0.51|         NA|     US|            Holt, FL|       NA-US-FL-HOLT|        FALSE|           1207|               2190|  36395913|         null|
|       49348|  34487|     PO BOX|          HOMOSASSA|   FL|       PRIMARY|28.78| -82.61| 0.11|-0.86| 0.48|         NA|     US|       Homosassa, FL|  NA-US-FL-HOMOSASSA|        FALSE|           null|               null|      null|         null|
|          10|    708|   STANDARD|       BDA SAN LUIS|   PR|NOT ACCEPTABLE|18.14| -66.26| 0.38|-0.86| 0.31|         NA|     US|    Bda San Luis, PR|NA-US-PR-BDA SAN ...|        FALSE|           null|               null|      null|         null|
|           3|    704|   STANDARD|      SECT LANAUSSE|   PR|NOT ACCEPTABLE|17.96| -66.22| 0.38|-0.87|  0.3|         NA|     US|   Sect Lanausse, PR|NA-US-PR-SECT LAN...|        FALSE|           null|               null|      null|         null|
|       54354|  36275|     PO BOX|      SPRING GARDEN|   AL|       PRIMARY|33.97| -85.55| 0.06|-0.82| 0.55|         NA|     US|   Spring Garden, AL|NA-US-AL-SPRING G...|        FALSE|           null|               null|      null|         null|
|       54355|  35146|   STANDARD|        SPRINGVILLE|   AL|       PRIMARY|33.77| -86.47| 0.05|-0.82| 0.55|         NA|     US|     Springville, AL|NA-US-AL-SPRINGVILLE|        FALSE|           4046|               7845| 172127599|         null|
|       54356|  35585|   STANDARD|        SPRUCE PINE|   AL|       PRIMARY|34.37| -87.69| 0.03|-0.82| 0.56|         NA|     US|     Spruce Pine, AL|NA-US-AL-SPRUCE PINE|        FALSE|            610|               1209|  18525517|         null|
|       76511|  27007|   STANDARD|           ASH HILL|   NC|NOT ACCEPTABLE| 36.4| -80.56| 0.13|-0.79| 0.59|         NA|     US|        Ash Hill, NC|   NA-US-NC-ASH HILL|        FALSE|            842|               1666|  28876493|         null|
+------------+-------+-----------+-------------------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+-------------+
only showing top 20 rows

In [313]:
df.write.option("header",True).csv("newzipcodes")

Py4JJavaError: An error occurred while calling o6574.csv.
: org.apache.spark.SparkException: Job aborted.
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:231)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:178)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:108)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:106)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.doExecute(commands.scala:131)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$execute$1(SparkPlan.scala:180)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$executeQuery$1(SparkPlan.scala:218)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:215)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:176)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:127)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:126)
	at org.apache.spark.sql.DataFrameWriter.$anonfun$runCommand$1(DataFrameWriter.scala:962)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:100)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:160)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:87)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:767)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:962)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:414)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:398)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:287)
	at org.apache.spark.sql.DataFrameWriter.csv(DataFrameWriter.scala:952)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 502.0 failed 1 times, most recent failure: Lost task 0.0 in stage 502.0 (TID 1327, vannhinh-ng02.ea.corp.samsungelectronics.net, executor driver): java.io.IOException: (null) entry in command string: null chmod 0644 E:\spark\spark-3.0.3-bin-hadoop2.7\BTGK\newzipcodes\_temporary\0\_temporary\attempt_202112081745225243685078389409585_0502_m_000000_1327\part-00000-9db24d75-3ff9-40fb-85f6-794cd2b3ccfe-c000.csv
	at org.apache.hadoop.util.Shell$ShellCommandExecutor.execute(Shell.java:773)
	at org.apache.hadoop.util.Shell.execCommand(Shell.java:869)
	at org.apache.hadoop.util.Shell.execCommand(Shell.java:852)
	at org.apache.hadoop.fs.RawLocalFileSystem.setPermission(RawLocalFileSystem.java:733)
	at org.apache.hadoop.fs.RawLocalFileSystem$LocalFSFileOutputStream.<init>(RawLocalFileSystem.java:225)
	at org.apache.hadoop.fs.RawLocalFileSystem$LocalFSFileOutputStream.<init>(RawLocalFileSystem.java:209)
	at org.apache.hadoop.fs.RawLocalFileSystem.createOutputStreamWithMode(RawLocalFileSystem.java:307)
	at org.apache.hadoop.fs.RawLocalFileSystem.create(RawLocalFileSystem.java:296)
	at org.apache.hadoop.fs.RawLocalFileSystem.create(RawLocalFileSystem.java:328)
	at org.apache.hadoop.fs.ChecksumFileSystem$ChecksumFSOutputSummer.<init>(ChecksumFileSystem.java:398)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:461)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:440)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:911)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:892)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:789)
	at org.apache.spark.sql.execution.datasources.CodecStreams$.createOutputStream(CodecStreams.scala:81)
	at org.apache.spark.sql.execution.datasources.CodecStreams$.createOutputStreamWriter(CodecStreams.scala:92)
	at org.apache.spark.sql.execution.datasources.csv.CsvOutputWriter.<init>(CsvOutputWriter.scala:38)
	at org.apache.spark.sql.execution.datasources.csv.CSVFileFormat$$anon$1.newInstance(CSVFileFormat.scala:84)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.newOutputWriter(FileFormatDataWriter.scala:126)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.<init>(FileFormatDataWriter.scala:111)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.executeTask(FileFormatWriter.scala:269)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.$anonfun$write$15(FileFormatWriter.scala:210)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:127)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:463)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1377)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:466)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2059)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2008)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2007)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2007)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:973)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:973)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:973)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2239)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2188)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2177)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:775)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2114)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:200)
	... 33 more
Caused by: java.io.IOException: (null) entry in command string: null chmod 0644 E:\spark\spark-3.0.3-bin-hadoop2.7\BTGK\newzipcodes\_temporary\0\_temporary\attempt_202112081745225243685078389409585_0502_m_000000_1327\part-00000-9db24d75-3ff9-40fb-85f6-794cd2b3ccfe-c000.csv
	at org.apache.hadoop.util.Shell$ShellCommandExecutor.execute(Shell.java:773)
	at org.apache.hadoop.util.Shell.execCommand(Shell.java:869)
	at org.apache.hadoop.util.Shell.execCommand(Shell.java:852)
	at org.apache.hadoop.fs.RawLocalFileSystem.setPermission(RawLocalFileSystem.java:733)
	at org.apache.hadoop.fs.RawLocalFileSystem$LocalFSFileOutputStream.<init>(RawLocalFileSystem.java:225)
	at org.apache.hadoop.fs.RawLocalFileSystem$LocalFSFileOutputStream.<init>(RawLocalFileSystem.java:209)
	at org.apache.hadoop.fs.RawLocalFileSystem.createOutputStreamWithMode(RawLocalFileSystem.java:307)
	at org.apache.hadoop.fs.RawLocalFileSystem.create(RawLocalFileSystem.java:296)
	at org.apache.hadoop.fs.RawLocalFileSystem.create(RawLocalFileSystem.java:328)
	at org.apache.hadoop.fs.ChecksumFileSystem$ChecksumFSOutputSummer.<init>(ChecksumFileSystem.java:398)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:461)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:440)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:911)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:892)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:789)
	at org.apache.spark.sql.execution.datasources.CodecStreams$.createOutputStream(CodecStreams.scala:81)
	at org.apache.spark.sql.execution.datasources.CodecStreams$.createOutputStreamWriter(CodecStreams.scala:92)
	at org.apache.spark.sql.execution.datasources.csv.CsvOutputWriter.<init>(CsvOutputWriter.scala:38)
	at org.apache.spark.sql.execution.datasources.csv.CSVFileFormat$$anon$1.newInstance(CSVFileFormat.scala:84)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.newOutputWriter(FileFormatDataWriter.scala:126)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.<init>(FileFormatDataWriter.scala:111)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.executeTask(FileFormatWriter.scala:269)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.$anonfun$write$15(FileFormatWriter.scala:210)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:127)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:463)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1377)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:466)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more

In [315]:
df2.write.options(header='True', delimiter=',').csv("newzipcodes")

Py4JJavaError: An error occurred while calling o6587.csv.
: org.apache.spark.SparkException: Job aborted.
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:231)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:178)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:108)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:106)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.doExecute(commands.scala:131)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$execute$1(SparkPlan.scala:180)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$executeQuery$1(SparkPlan.scala:218)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:215)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:176)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:127)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:126)
	at org.apache.spark.sql.DataFrameWriter.$anonfun$runCommand$1(DataFrameWriter.scala:962)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:100)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:160)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:87)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:767)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:962)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:414)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:398)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:287)
	at org.apache.spark.sql.DataFrameWriter.csv(DataFrameWriter.scala:952)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 503.0 failed 1 times, most recent failure: Lost task 0.0 in stage 503.0 (TID 1328, vannhinh-ng02.ea.corp.samsungelectronics.net, executor driver): java.io.IOException: (null) entry in command string: null chmod 0644 E:\spark\spark-3.0.3-bin-hadoop2.7\BTGK\newzipcodes\_temporary\0\_temporary\attempt_202112081745556102435554786885995_0503_m_000000_1328\part-00000-de885931-4703-4e9f-9cfa-8f0ba9b85708-c000.csv
	at org.apache.hadoop.util.Shell$ShellCommandExecutor.execute(Shell.java:773)
	at org.apache.hadoop.util.Shell.execCommand(Shell.java:869)
	at org.apache.hadoop.util.Shell.execCommand(Shell.java:852)
	at org.apache.hadoop.fs.RawLocalFileSystem.setPermission(RawLocalFileSystem.java:733)
	at org.apache.hadoop.fs.RawLocalFileSystem$LocalFSFileOutputStream.<init>(RawLocalFileSystem.java:225)
	at org.apache.hadoop.fs.RawLocalFileSystem$LocalFSFileOutputStream.<init>(RawLocalFileSystem.java:209)
	at org.apache.hadoop.fs.RawLocalFileSystem.createOutputStreamWithMode(RawLocalFileSystem.java:307)
	at org.apache.hadoop.fs.RawLocalFileSystem.create(RawLocalFileSystem.java:296)
	at org.apache.hadoop.fs.RawLocalFileSystem.create(RawLocalFileSystem.java:328)
	at org.apache.hadoop.fs.ChecksumFileSystem$ChecksumFSOutputSummer.<init>(ChecksumFileSystem.java:398)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:461)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:440)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:911)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:892)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:789)
	at org.apache.spark.sql.execution.datasources.CodecStreams$.createOutputStream(CodecStreams.scala:81)
	at org.apache.spark.sql.execution.datasources.CodecStreams$.createOutputStreamWriter(CodecStreams.scala:92)
	at org.apache.spark.sql.execution.datasources.csv.CsvOutputWriter.<init>(CsvOutputWriter.scala:38)
	at org.apache.spark.sql.execution.datasources.csv.CSVFileFormat$$anon$1.newInstance(CSVFileFormat.scala:84)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.newOutputWriter(FileFormatDataWriter.scala:126)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.<init>(FileFormatDataWriter.scala:111)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.executeTask(FileFormatWriter.scala:269)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.$anonfun$write$15(FileFormatWriter.scala:210)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:127)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:463)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1377)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:466)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2059)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2008)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2007)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2007)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:973)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:973)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:973)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2239)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2188)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2177)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:775)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2114)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:200)
	... 33 more
Caused by: java.io.IOException: (null) entry in command string: null chmod 0644 E:\spark\spark-3.0.3-bin-hadoop2.7\BTGK\newzipcodes\_temporary\0\_temporary\attempt_202112081745556102435554786885995_0503_m_000000_1328\part-00000-de885931-4703-4e9f-9cfa-8f0ba9b85708-c000.csv
	at org.apache.hadoop.util.Shell$ShellCommandExecutor.execute(Shell.java:773)
	at org.apache.hadoop.util.Shell.execCommand(Shell.java:869)
	at org.apache.hadoop.util.Shell.execCommand(Shell.java:852)
	at org.apache.hadoop.fs.RawLocalFileSystem.setPermission(RawLocalFileSystem.java:733)
	at org.apache.hadoop.fs.RawLocalFileSystem$LocalFSFileOutputStream.<init>(RawLocalFileSystem.java:225)
	at org.apache.hadoop.fs.RawLocalFileSystem$LocalFSFileOutputStream.<init>(RawLocalFileSystem.java:209)
	at org.apache.hadoop.fs.RawLocalFileSystem.createOutputStreamWithMode(RawLocalFileSystem.java:307)
	at org.apache.hadoop.fs.RawLocalFileSystem.create(RawLocalFileSystem.java:296)
	at org.apache.hadoop.fs.RawLocalFileSystem.create(RawLocalFileSystem.java:328)
	at org.apache.hadoop.fs.ChecksumFileSystem$ChecksumFSOutputSummer.<init>(ChecksumFileSystem.java:398)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:461)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:440)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:911)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:892)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:789)
	at org.apache.spark.sql.execution.datasources.CodecStreams$.createOutputStream(CodecStreams.scala:81)
	at org.apache.spark.sql.execution.datasources.CodecStreams$.createOutputStreamWriter(CodecStreams.scala:92)
	at org.apache.spark.sql.execution.datasources.csv.CsvOutputWriter.<init>(CsvOutputWriter.scala:38)
	at org.apache.spark.sql.execution.datasources.csv.CSVFileFormat$$anon$1.newInstance(CSVFileFormat.scala:84)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.newOutputWriter(FileFormatDataWriter.scala:126)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.<init>(FileFormatDataWriter.scala:111)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.executeTask(FileFormatWriter.scala:269)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.$anonfun$write$15(FileFormatWriter.scala:210)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:127)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:463)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1377)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:466)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more

In [6]:
df2.write.mode('overwrite').csv("newzipcodes")

NameError: name 'df2' is not defined

In [10]:
df = spark.read.text("zipcodes.txt")
df.printSchema()
df.collect()

root
 |-- value: string (nullable = true)

[Row(value='RecordNumber\tZipcode\tZipCodeType\tCity\tState\tLocationType'),
 Row(value='1\t704\tSTANDARD\tPARC PARQUE\tPR\tNOT ACCEPTABLE'),
 Row(value='2\t704\tSTANDARD\tPASEO COSTA DEL SUR\tPR\tNOT ACCEPTABLE'),
 Row(value='10\t709\tSTANDARD\tBDA SAN LUIS\tPR\tNOT ACCEPTABLE'),
 Row(value='61391\t76166\tUNIQUE\tCINGULAR WIRELESS\tTX\tNOT ACCEPTABLE'),
 Row(value='61392\t76177\tSTANDARD\tFORT WORTH\tTX\tPRIMARY'),
 Row(value='61393\t76177\tSTANDARD\tFT WORTH\tTX\tACCEPTABLE'),
 Row(value='4\t704\tSTANDARD\tURB EUGENE RICE\tPR\tNOT ACCEPTABLE'),
 Row(value='39827\t85209\tSTANDARD\tMESA\tAZ\tPRIMARY'),
 Row(value='39828\t85210\tSTANDARD\tMESA\tAZ\tPRIMARY'),
 Row(value='49345\t32046\tSTANDARD\tHILLIARD\tFL\tPRIMARY'),
 Row(value='49346\t34445\tPO BOX\tHOLDER\tFL\tPRIMARY'),
 Row(value='49347\t32564\tSTANDARD\tHOLT\tFL\tPRIMARY'),
 Row(value='49348\t34487\tPO BOX\tHOMOSASSA\tFL\tPRIMARY'),
 Row(value='10\t708\tSTANDARD\tBDA SAN LUIS\tPR\tNOT ACCEPTABLE'),
 Row(value='3\t704\tSTANDARD\tSECT LANAUSSE\tPR\tNOT ACCEPTABLE'),
 Row(value='54354\t36275\tPO BOX\tSPRING GARDEN\tAL\tPRIMARY'),
 Row(value='54355\t35146\tSTANDARD\tSPRINGVILLE\tAL\tPRIMARY'),
 Row(value='54356\t35585\tSTANDARD\tSPRUCE PINE\tAL\tPRIMARY'),
 Row(value='76511\t27007\tSTANDARD\tASH HILL\tNC\tNOT ACCEPTABLE'),
 Row(value='76512\t27203\tSTANDARD\tASHEBORO\tNC\tPRIMARY'),
 Row(value='76513\t27204\tPO BOX\tASHEBORO\tNC\tPRIMARY')]

In [11]:
df = spark.read.options(header='True',inferSchema='True', delimiter='\t').csv("zipcodes.txt")
df.printSchema()

root
 |-- RecordNumber: integer (nullable = true)
 |-- Zipcode: integer (nullable = true)
 |-- ZipCodeType: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- LocationType: string (nullable = true)

In [14]:
transDF = spark.read.options(delimiter=',').schema('trans_id INT, date STRING, cust_id INT, amount DOUBLE, game STRING, equipment STRING, city STRING, state STRING, mode STRING').csv("trans.txt")

In [15]:
transDF.printSchema()

root
 |-- trans_id: integer (nullable = true)
 |-- date: string (nullable = true)
 |-- cust_id: integer (nullable = true)
 |-- amount: double (nullable = true)
 |-- game: string (nullable = true)
 |-- equipment: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- mode: string (nullable = true)

In [16]:
transDF.show()

+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
|trans_id|      date|cust_id|amount|                game|           equipment|          city|         state|  mode|
+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
|       0|06-26-2011|4000001| 40.33|  Exercise & Fitness|Cardio Machine Ac...|   Clarksville|     Tennessee|credit|
|       1|05-26-2011|4000002|198.44|  Exercise & Fitness|Weightlifting Gloves|    Long Beach|    California|credit|
|       2|06-01-2011|4000002|  5.58|  Exercise & Fitness|Weightlifting Mac...|       Anaheim|    California|credit|
|       3|06-05-2011|4000003|198.19|          Gymnastics|    Gymnastics Rings|     Milwaukee|     Wisconsin|credit|
|       4|12-17-2011|4000002| 98.81|         Team Sports|        Field Hockey|   Nashville  |     Tennessee|credit|
|       5|02-14-2011|4000004|193.63|  Outdoor Recreation|Camping & Backpac...|       Chicago|      Illinois|credit|
|       6|10-28-2011|4000005| 27.89|             Puzzles|      Jigsaw Puzzles|    Charleston|South Carolina|credit|
|       7|07-14-2011|4000006| 96.01|Outdoor Play Equi...|           Sandboxes|      Columbus|          Ohio|credit|
|       8|01-17-2011|4000006| 10.44|       Winter Sports|        Snowmobiling|    Des Moines|          Iowa|credit|
|       9|05-17-2011|4000006|152.46|             Jumping|      Bungee Jumping|St. Petersburg|       Florida|credit|
|      10|05-29-2011|4000007|180.28|  Outdoor Recreation|             Archery|          Reno|        Nevada|credit|
|      11|06-18-2011|4000009|121.39|Outdoor Play Equi...|          Swing Sets|      Columbus|          Ohio|credit|
|      12|02-08-2011|4000009| 41.52|        Indoor Games|             Bowling| San Francisco|    California|credit|
|      13|03-13-2011|4000010| 107.8|         Team Sports|        Field Hockey|    Honolulu  |        Hawaii|credit|
|      14|02-25-2011|4000010| 36.81|          Gymnastics|     Vaulting Horses|   Los Angeles|    California|credit|
|      15|10-20-2011|4000001|137.64|       Combat Sports|             Fencing|    Honolulu  |        Hawaii|credit|
|      16|05-28-2011|4000010| 35.56|  Exercise & Fitness|    Free Weight Bars|      Columbia|South Carolina|credit|
|      17|10-18-2011|4000008| 75.55|        Water Sports|Scuba Diving & Sn...|         Omaha|      Nebraska|credit|
|      18|11-18-2011|4000008| 88.65|         Team Sports|            Baseball|Salt Lake City|          Utah|credit|
|      19|08-28-2011|4000008| 51.81|        Water Sports|        Life Jackets|        Newark|    New Jersey|credit|
+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
only showing top 20 rows

In [17]:
transDF.select('cust_id','amount').show()

+-------+------+
|cust_id|amount|
+-------+------+
|4000001| 40.33|
|4000002|198.44|
|4000002|  5.58|
|4000003|198.19|
|4000002| 98.81|
|4000004|193.63|
|4000005| 27.89|
|4000006| 96.01|
|4000006| 10.44|
|4000006|152.46|
|4000007|180.28|
|4000009|121.39|
|4000009| 41.52|
|4000010| 107.8|
|4000010| 36.81|
|4000001|137.64|
|4000010| 35.56|
|4000008| 75.55|
|4000008| 88.65|
|4000008| 51.81|
+-------+------+
only showing top 20 rows

In [18]:
transDF.select(transDF.cust_id,transDF.amount).show()

+-------+------+
|cust_id|amount|
+-------+------+
|4000001| 40.33|
|4000002|198.44|
|4000002|  5.58|
|4000003|198.19|
|4000002| 98.81|
|4000004|193.63|
|4000005| 27.89|
|4000006| 96.01|
|4000006| 10.44|
|4000006|152.46|
|4000007|180.28|
|4000009|121.39|
|4000009| 41.52|
|4000010| 107.8|
|4000010| 36.81|
|4000001|137.64|
|4000010| 35.56|
|4000008| 75.55|
|4000008| 88.65|
|4000008| 51.81|
+-------+------+
only showing top 20 rows

In [19]:
transDF.select(transDF['cust_id'],transDF['amount']).show()

+-------+------+
|cust_id|amount|
+-------+------+
|4000001| 40.33|
|4000002|198.44|
|4000002|  5.58|
|4000003|198.19|
|4000002| 98.81|
|4000004|193.63|
|4000005| 27.89|
|4000006| 96.01|
|4000006| 10.44|
|4000006|152.46|
|4000007|180.28|
|4000009|121.39|
|4000009| 41.52|
|4000010| 107.8|
|4000010| 36.81|
|4000001|137.64|
|4000010| 35.56|
|4000008| 75.55|
|4000008| 88.65|
|4000008| 51.81|
+-------+------+
only showing top 20 rows

In [20]:
twocolumns=['cust_id','amount']
transDF.select(twocolumns).show()

+-------+------+
|cust_id|amount|
+-------+------+
|4000001| 40.33|
|4000002|198.44|
|4000002|  5.58|
|4000003|198.19|
|4000002| 98.81|
|4000004|193.63|
|4000005| 27.89|
|4000006| 96.01|
|4000006| 10.44|
|4000006|152.46|
|4000007|180.28|
|4000009|121.39|
|4000009| 41.52|
|4000010| 107.8|
|4000010| 36.81|
|4000001|137.64|
|4000010| 35.56|
|4000008| 75.55|
|4000008| 88.65|
|4000008| 51.81|
+-------+------+
only showing top 20 rows

In [21]:
transDF.select([col for col in transDF.columns]).show()

+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
|trans_id|      date|cust_id|amount|                game|           equipment|          city|         state|  mode|
+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
|       0|06-26-2011|4000001| 40.33|  Exercise & Fitness|Cardio Machine Ac...|   Clarksville|     Tennessee|credit|
|       1|05-26-2011|4000002|198.44|  Exercise & Fitness|Weightlifting Gloves|    Long Beach|    California|credit|
|       2|06-01-2011|4000002|  5.58|  Exercise & Fitness|Weightlifting Mac...|       Anaheim|    California|credit|
|       3|06-05-2011|4000003|198.19|          Gymnastics|    Gymnastics Rings|     Milwaukee|     Wisconsin|credit|
|       4|12-17-2011|4000002| 98.81|         Team Sports|        Field Hockey|   Nashville  |     Tennessee|credit|
|       5|02-14-2011|4000004|193.63|  Outdoor Recreation|Camping & Backpac...|       Chicago|      Illinois|credit|
|       6|10-28-2011|4000005| 27.89|             Puzzles|      Jigsaw Puzzles|    Charleston|South Carolina|credit|
|       7|07-14-2011|4000006| 96.01|Outdoor Play Equi...|           Sandboxes|      Columbus|          Ohio|credit|
|       8|01-17-2011|4000006| 10.44|       Winter Sports|        Snowmobiling|    Des Moines|          Iowa|credit|
|       9|05-17-2011|4000006|152.46|             Jumping|      Bungee Jumping|St. Petersburg|       Florida|credit|
|      10|05-29-2011|4000007|180.28|  Outdoor Recreation|             Archery|          Reno|        Nevada|credit|
|      11|06-18-2011|4000009|121.39|Outdoor Play Equi...|          Swing Sets|      Columbus|          Ohio|credit|
|      12|02-08-2011|4000009| 41.52|        Indoor Games|             Bowling| San Francisco|    California|credit|
|      13|03-13-2011|4000010| 107.8|         Team Sports|        Field Hockey|    Honolulu  |        Hawaii|credit|
|      14|02-25-2011|4000010| 36.81|          Gymnastics|     Vaulting Horses|   Los Angeles|    California|credit|
|      15|10-20-2011|4000001|137.64|       Combat Sports|             Fencing|    Honolulu  |        Hawaii|credit|
|      16|05-28-2011|4000010| 35.56|  Exercise & Fitness|    Free Weight Bars|      Columbia|South Carolina|credit|
|      17|10-18-2011|4000008| 75.55|        Water Sports|Scuba Diving & Sn...|         Omaha|      Nebraska|credit|
|      18|11-18-2011|4000008| 88.65|         Team Sports|            Baseball|Salt Lake City|          Utah|credit|
|      19|08-28-2011|4000008| 51.81|        Water Sports|        Life Jackets|        Newark|    New Jersey|credit|
+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
only showing top 20 rows

In [22]:
transDF.select('*').show()

+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
|trans_id|      date|cust_id|amount|                game|           equipment|          city|         state|  mode|
+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
|       0|06-26-2011|4000001| 40.33|  Exercise & Fitness|Cardio Machine Ac...|   Clarksville|     Tennessee|credit|
|       1|05-26-2011|4000002|198.44|  Exercise & Fitness|Weightlifting Gloves|    Long Beach|    California|credit|
|       2|06-01-2011|4000002|  5.58|  Exercise & Fitness|Weightlifting Mac...|       Anaheim|    California|credit|
|       3|06-05-2011|4000003|198.19|          Gymnastics|    Gymnastics Rings|     Milwaukee|     Wisconsin|credit|
|       4|12-17-2011|4000002| 98.81|         Team Sports|        Field Hockey|   Nashville  |     Tennessee|credit|
|       5|02-14-2011|4000004|193.63|  Outdoor Recreation|Camping & Backpac...|       Chicago|      Illinois|credit|
|       6|10-28-2011|4000005| 27.89|             Puzzles|      Jigsaw Puzzles|    Charleston|South Carolina|credit|
|       7|07-14-2011|4000006| 96.01|Outdoor Play Equi...|           Sandboxes|      Columbus|          Ohio|credit|
|       8|01-17-2011|4000006| 10.44|       Winter Sports|        Snowmobiling|    Des Moines|          Iowa|credit|
|       9|05-17-2011|4000006|152.46|             Jumping|      Bungee Jumping|St. Petersburg|       Florida|credit|
|      10|05-29-2011|4000007|180.28|  Outdoor Recreation|             Archery|          Reno|        Nevada|credit|
|      11|06-18-2011|4000009|121.39|Outdoor Play Equi...|          Swing Sets|      Columbus|          Ohio|credit|
|      12|02-08-2011|4000009| 41.52|        Indoor Games|             Bowling| San Francisco|    California|credit|
|      13|03-13-2011|4000010| 107.8|         Team Sports|        Field Hockey|    Honolulu  |        Hawaii|credit|
|      14|02-25-2011|4000010| 36.81|          Gymnastics|     Vaulting Horses|   Los Angeles|    California|credit|
|      15|10-20-2011|4000001|137.64|       Combat Sports|             Fencing|    Honolulu  |        Hawaii|credit|
|      16|05-28-2011|4000010| 35.56|  Exercise & Fitness|    Free Weight Bars|      Columbia|South Carolina|credit|
|      17|10-18-2011|4000008| 75.55|        Water Sports|Scuba Diving & Sn...|         Omaha|      Nebraska|credit|
|      18|11-18-2011|4000008| 88.65|         Team Sports|            Baseball|Salt Lake City|          Utah|credit|
|      19|08-28-2011|4000008| 51.81|        Water Sports|        Life Jackets|        Newark|    New Jersey|credit|
+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
only showing top 20 rows

In [29]:
from pyspark.sql.functions import col
transDF.withColumn('trans_id',col('trans_id').cast('String')).printSchema()

root
 |-- trans_id: string (nullable = true)
 |-- date: string (nullable = true)
 |-- cust_id: integer (nullable = true)
 |-- amount: double (nullable = true)
 |-- game: string (nullable = true)
 |-- equipment: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- mode: string (nullable = true)

In [31]:
transDF.withColumn('trans_id',col('date').cast('integer')).printSchema()

root
 |-- trans_id: integer (nullable = true)
 |-- date: string (nullable = true)
 |-- cust_id: integer (nullable = true)
 |-- amount: double (nullable = true)
 |-- game: string (nullable = true)
 |-- equipment: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- mode: string (nullable = true)

In [34]:
transDF.show()

+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
|trans_id|      date|cust_id|amount|                game|           equipment|          city|         state|  mode|
+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
|       0|06-26-2011|4000001| 40.33|  Exercise & Fitness|Cardio Machine Ac...|   Clarksville|     Tennessee|credit|
|       1|05-26-2011|4000002|198.44|  Exercise & Fitness|Weightlifting Gloves|    Long Beach|    California|credit|
|       2|06-01-2011|4000002|  5.58|  Exercise & Fitness|Weightlifting Mac...|       Anaheim|    California|credit|
|       3|06-05-2011|4000003|198.19|          Gymnastics|    Gymnastics Rings|     Milwaukee|     Wisconsin|credit|
|       4|12-17-2011|4000002| 98.81|         Team Sports|        Field Hockey|   Nashville  |     Tennessee|credit|
|       5|02-14-2011|4000004|193.63|  Outdoor Recreation|Camping & Backpac...|       Chicago|      Illinois|credit|
|       6|10-28-2011|4000005| 27.89|             Puzzles|      Jigsaw Puzzles|    Charleston|South Carolina|credit|
|       7|07-14-2011|4000006| 96.01|Outdoor Play Equi...|           Sandboxes|      Columbus|          Ohio|credit|
|       8|01-17-2011|4000006| 10.44|       Winter Sports|        Snowmobiling|    Des Moines|          Iowa|credit|
|       9|05-17-2011|4000006|152.46|             Jumping|      Bungee Jumping|St. Petersburg|       Florida|credit|
|      10|05-29-2011|4000007|180.28|  Outdoor Recreation|             Archery|          Reno|        Nevada|credit|
|      11|06-18-2011|4000009|121.39|Outdoor Play Equi...|          Swing Sets|      Columbus|          Ohio|credit|
|      12|02-08-2011|4000009| 41.52|        Indoor Games|             Bowling| San Francisco|    California|credit|
|      13|03-13-2011|4000010| 107.8|         Team Sports|        Field Hockey|    Honolulu  |        Hawaii|credit|
|      14|02-25-2011|4000010| 36.81|          Gymnastics|     Vaulting Horses|   Los Angeles|    California|credit|
|      15|10-20-2011|4000001|137.64|       Combat Sports|             Fencing|    Honolulu  |        Hawaii|credit|
|      16|05-28-2011|4000010| 35.56|  Exercise & Fitness|    Free Weight Bars|      Columbia|South Carolina|credit|
|      17|10-18-2011|4000008| 75.55|        Water Sports|Scuba Diving & Sn...|         Omaha|      Nebraska|credit|
|      18|11-18-2011|4000008| 88.65|         Team Sports|            Baseball|Salt Lake City|          Utah|credit|
|      19|08-28-2011|4000008| 51.81|        Water Sports|        Life Jackets|        Newark|    New Jersey|credit|
+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
only showing top 20 rows

In [33]:
from pyspark.sql.functions import col
transDF.withColumn('amount',col('amount')*2).show()

+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
|trans_id|      date|cust_id|amount|                game|           equipment|          city|         state|  mode|
+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
|       0|06-26-2011|4000001| 80.66|  Exercise & Fitness|Cardio Machine Ac...|   Clarksville|     Tennessee|credit|
|       1|05-26-2011|4000002|396.88|  Exercise & Fitness|Weightlifting Gloves|    Long Beach|    California|credit|
|       2|06-01-2011|4000002| 11.16|  Exercise & Fitness|Weightlifting Mac...|       Anaheim|    California|credit|
|       3|06-05-2011|4000003|396.38|          Gymnastics|    Gymnastics Rings|     Milwaukee|     Wisconsin|credit|
|       4|12-17-2011|4000002|197.62|         Team Sports|        Field Hockey|   Nashville  |     Tennessee|credit|
|       5|02-14-2011|4000004|387.26|  Outdoor Recreation|Camping & Backpac...|       Chicago|      Illinois|credit|
|       6|10-28-2011|4000005| 55.78|             Puzzles|      Jigsaw Puzzles|    Charleston|South Carolina|credit|
|       7|07-14-2011|4000006|192.02|Outdoor Play Equi...|           Sandboxes|      Columbus|          Ohio|credit|
|       8|01-17-2011|4000006| 20.88|       Winter Sports|        Snowmobiling|    Des Moines|          Iowa|credit|
|       9|05-17-2011|4000006|304.92|             Jumping|      Bungee Jumping|St. Petersburg|       Florida|credit|
|      10|05-29-2011|4000007|360.56|  Outdoor Recreation|             Archery|          Reno|        Nevada|credit|
|      11|06-18-2011|4000009|242.78|Outdoor Play Equi...|          Swing Sets|      Columbus|          Ohio|credit|
|      12|02-08-2011|4000009| 83.04|        Indoor Games|             Bowling| San Francisco|    California|credit|
|      13|03-13-2011|4000010| 215.6|         Team Sports|        Field Hockey|    Honolulu  |        Hawaii|credit|
|      14|02-25-2011|4000010| 73.62|          Gymnastics|     Vaulting Horses|   Los Angeles|    California|credit|
|      15|10-20-2011|4000001|275.28|       Combat Sports|             Fencing|    Honolulu  |        Hawaii|credit|
|      16|05-28-2011|4000010| 71.12|  Exercise & Fitness|    Free Weight Bars|      Columbia|South Carolina|credit|
|      17|10-18-2011|4000008| 151.1|        Water Sports|Scuba Diving & Sn...|         Omaha|      Nebraska|credit|
|      18|11-18-2011|4000008| 177.3|         Team Sports|            Baseball|Salt Lake City|          Utah|credit|
|      19|08-28-2011|4000008|103.62|        Water Sports|        Life Jackets|        Newark|    New Jersey|credit|
+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
only showing top 20 rows

In [40]:
from pyspark.sql.functions import col
transDF.withColumn('new amount',col('amount')*2).show()

+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+----------+
|trans_id|      date|cust_id|amount|                game|           equipment|          city|         state|  mode|new amount|
+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+----------+
|       0|06-26-2011|4000001| 40.33|  Exercise & Fitness|Cardio Machine Ac...|   Clarksville|     Tennessee|credit|     80.66|
|       1|05-26-2011|4000002|198.44|  Exercise & Fitness|Weightlifting Gloves|    Long Beach|    California|credit|    396.88|
|       2|06-01-2011|4000002|  5.58|  Exercise & Fitness|Weightlifting Mac...|       Anaheim|    California|credit|     11.16|
|       3|06-05-2011|4000003|198.19|          Gymnastics|    Gymnastics Rings|     Milwaukee|     Wisconsin|credit|    396.38|
|       4|12-17-2011|4000002| 98.81|         Team Sports|        Field Hockey|   Nashville  |     Tennessee|credit|    197.62|
|       5|02-14-2011|4000004|193.63|  Outdoor Recreation|Camping & Backpac...|       Chicago|      Illinois|credit|    387.26|
|       6|10-28-2011|4000005| 27.89|             Puzzles|      Jigsaw Puzzles|    Charleston|South Carolina|credit|     55.78|
|       7|07-14-2011|4000006| 96.01|Outdoor Play Equi...|           Sandboxes|      Columbus|          Ohio|credit|    192.02|
|       8|01-17-2011|4000006| 10.44|       Winter Sports|        Snowmobiling|    Des Moines|          Iowa|credit|     20.88|
|       9|05-17-2011|4000006|152.46|             Jumping|      Bungee Jumping|St. Petersburg|       Florida|credit|    304.92|
|      10|05-29-2011|4000007|180.28|  Outdoor Recreation|             Archery|          Reno|        Nevada|credit|    360.56|
|      11|06-18-2011|4000009|121.39|Outdoor Play Equi...|          Swing Sets|      Columbus|          Ohio|credit|    242.78|
|      12|02-08-2011|4000009| 41.52|        Indoor Games|             Bowling| San Francisco|    California|credit|     83.04|
|      13|03-13-2011|4000010| 107.8|         Team Sports|        Field Hockey|    Honolulu  |        Hawaii|credit|     215.6|
|      14|02-25-2011|4000010| 36.81|          Gymnastics|     Vaulting Horses|   Los Angeles|    California|credit|     73.62|
|      15|10-20-2011|4000001|137.64|       Combat Sports|             Fencing|    Honolulu  |        Hawaii|credit|    275.28|
|      16|05-28-2011|4000010| 35.56|  Exercise & Fitness|    Free Weight Bars|      Columbia|South Carolina|credit|     71.12|
|      17|10-18-2011|4000008| 75.55|        Water Sports|Scuba Diving & Sn...|         Omaha|      Nebraska|credit|     151.1|
|      18|11-18-2011|4000008| 88.65|         Team Sports|            Baseball|Salt Lake City|          Utah|credit|     177.3|
|      19|08-28-2011|4000008| 51.81|        Water Sports|        Life Jackets|        Newark|    New Jersey|credit|    103.62|
+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+----------+
only showing top 20 rows

In [41]:
from pyspark.sql.functions import lit
transDF.withColumn("Country", lit("USA")).show()

+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+-------+
|trans_id|      date|cust_id|amount|                game|           equipment|          city|         state|  mode|Country|
+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+-------+
|       0|06-26-2011|4000001| 40.33|  Exercise & Fitness|Cardio Machine Ac...|   Clarksville|     Tennessee|credit|    USA|
|       1|05-26-2011|4000002|198.44|  Exercise & Fitness|Weightlifting Gloves|    Long Beach|    California|credit|    USA|
|       2|06-01-2011|4000002|  5.58|  Exercise & Fitness|Weightlifting Mac...|       Anaheim|    California|credit|    USA|
|       3|06-05-2011|4000003|198.19|          Gymnastics|    Gymnastics Rings|     Milwaukee|     Wisconsin|credit|    USA|
|       4|12-17-2011|4000002| 98.81|         Team Sports|        Field Hockey|   Nashville  |     Tennessee|credit|    USA|
|       5|02-14-2011|4000004|193.63|  Outdoor Recreation|Camping & Backpac...|       Chicago|      Illinois|credit|    USA|
|       6|10-28-2011|4000005| 27.89|             Puzzles|      Jigsaw Puzzles|    Charleston|South Carolina|credit|    USA|
|       7|07-14-2011|4000006| 96.01|Outdoor Play Equi...|           Sandboxes|      Columbus|          Ohio|credit|    USA|
|       8|01-17-2011|4000006| 10.44|       Winter Sports|        Snowmobiling|    Des Moines|          Iowa|credit|    USA|
|       9|05-17-2011|4000006|152.46|             Jumping|      Bungee Jumping|St. Petersburg|       Florida|credit|    USA|
|      10|05-29-2011|4000007|180.28|  Outdoor Recreation|             Archery|          Reno|        Nevada|credit|    USA|
|      11|06-18-2011|4000009|121.39|Outdoor Play Equi...|          Swing Sets|      Columbus|          Ohio|credit|    USA|
|      12|02-08-2011|4000009| 41.52|        Indoor Games|             Bowling| San Francisco|    California|credit|    USA|
|      13|03-13-2011|4000010| 107.8|         Team Sports|        Field Hockey|    Honolulu  |        Hawaii|credit|    USA|
|      14|02-25-2011|4000010| 36.81|          Gymnastics|     Vaulting Horses|   Los Angeles|    California|credit|    USA|
|      15|10-20-2011|4000001|137.64|       Combat Sports|             Fencing|    Honolulu  |        Hawaii|credit|    USA|
|      16|05-28-2011|4000010| 35.56|  Exercise & Fitness|    Free Weight Bars|      Columbia|South Carolina|credit|    USA|
|      17|10-18-2011|4000008| 75.55|        Water Sports|Scuba Diving & Sn...|         Omaha|      Nebraska|credit|    USA|
|      18|11-18-2011|4000008| 88.65|         Team Sports|            Baseball|Salt Lake City|          Utah|credit|    USA|
|      19|08-28-2011|4000008| 51.81|        Water Sports|        Life Jackets|        Newark|    New Jersey|credit|    USA|
+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+-------+
only showing top 20 rows

In [44]:
from pyspark.sql.functions import lit
transDF.withColumnRenamed('amount','cost').show()

+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
|trans_id|      date|cust_id|  cost|                game|           equipment|          city|         state|  mode|
+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
|       0|06-26-2011|4000001| 40.33|  Exercise & Fitness|Cardio Machine Ac...|   Clarksville|     Tennessee|credit|
|       1|05-26-2011|4000002|198.44|  Exercise & Fitness|Weightlifting Gloves|    Long Beach|    California|credit|
|       2|06-01-2011|4000002|  5.58|  Exercise & Fitness|Weightlifting Mac...|       Anaheim|    California|credit|
|       3|06-05-2011|4000003|198.19|          Gymnastics|    Gymnastics Rings|     Milwaukee|     Wisconsin|credit|
|       4|12-17-2011|4000002| 98.81|         Team Sports|        Field Hockey|   Nashville  |     Tennessee|credit|
|       5|02-14-2011|4000004|193.63|  Outdoor Recreation|Camping & Backpac...|       Chicago|      Illinois|credit|
|       6|10-28-2011|4000005| 27.89|             Puzzles|      Jigsaw Puzzles|    Charleston|South Carolina|credit|
|       7|07-14-2011|4000006| 96.01|Outdoor Play Equi...|           Sandboxes|      Columbus|          Ohio|credit|
|       8|01-17-2011|4000006| 10.44|       Winter Sports|        Snowmobiling|    Des Moines|          Iowa|credit|
|       9|05-17-2011|4000006|152.46|             Jumping|      Bungee Jumping|St. Petersburg|       Florida|credit|
|      10|05-29-2011|4000007|180.28|  Outdoor Recreation|             Archery|          Reno|        Nevada|credit|
|      11|06-18-2011|4000009|121.39|Outdoor Play Equi...|          Swing Sets|      Columbus|          Ohio|credit|
|      12|02-08-2011|4000009| 41.52|        Indoor Games|             Bowling| San Francisco|    California|credit|
|      13|03-13-2011|4000010| 107.8|         Team Sports|        Field Hockey|    Honolulu  |        Hawaii|credit|
|      14|02-25-2011|4000010| 36.81|          Gymnastics|     Vaulting Horses|   Los Angeles|    California|credit|
|      15|10-20-2011|4000001|137.64|       Combat Sports|             Fencing|    Honolulu  |        Hawaii|credit|
|      16|05-28-2011|4000010| 35.56|  Exercise & Fitness|    Free Weight Bars|      Columbia|South Carolina|credit|
|      17|10-18-2011|4000008| 75.55|        Water Sports|Scuba Diving & Sn...|         Omaha|      Nebraska|credit|
|      18|11-18-2011|4000008| 88.65|         Team Sports|            Baseball|Salt Lake City|          Utah|credit|
|      19|08-28-2011|4000008| 51.81|        Water Sports|        Life Jackets|        Newark|    New Jersey|credit|
+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
only showing top 20 rows

In [45]:
from pyspark.sql.types import StructType,StructField
from pyspark.sql.types import StringType, IntegerType, ArrayType
data = [
(("James","","Smith"),["Java","Scala","C++"],"OH","M"),
(("Anna","Rose",""),["Spark","Java","C++"],"NY","F"),
(("Julia","","Williams"),["CSharp","VB"],"OH","F"),
(("Maria","Anne","Jones"),["CSharp","VB"],"NY","M"),
(("Jen","Mary","Brown"),["CSharp","VB"],"NY","M"),
(("Mike","Mary","Williams"),["Python","VB"],"OH","M")
]
schema = StructType([
StructField('name', StructType([
StructField('firstname', StringType(), True),
StructField('middlename', StringType(), True),
StructField('lastname', StringType(), True)
])),
StructField('languages', ArrayType(StringType()), True),
StructField('state', StringType(), True),
StructField('gender', StringType(), True)
])
df = spark.createDataFrame(data = data, schema = schema)
df.printSchema()
df.show(truncate=False)

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- languages: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- state: string (nullable = true)
 |-- gender: string (nullable = true)

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|[James, , Smith]      |[Java, Scala, C++]|OH   |M     |
|[Anna, Rose, ]        |[Spark, Java, C++]|NY   |F     |
|[Julia, , Williams]   |[CSharp, VB]      |OH   |F     |
|[Maria, Anne, Jones]  |[CSharp, VB]      |NY   |M     |
|[Jen, Mary, Brown]    |[CSharp, VB]      |NY   |M     |
|[Mike, Mary, Williams]|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

In [46]:
df.filter(df.state == "OH").show(truncate=False)

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|[James, , Smith]      |[Java, Scala, C++]|OH   |M     |
|[Julia, , Williams]   |[CSharp, VB]      |OH   |F     |
|[Mike, Mary, Williams]|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

In [47]:
df.filter(df.state != "OH").show(truncate=False)

+--------------------+------------------+-----+------+
|name                |languages         |state|gender|
+--------------------+------------------+-----+------+
|[Anna, Rose, ]      |[Spark, Java, C++]|NY   |F     |
|[Maria, Anne, Jones]|[CSharp, VB]      |NY   |M     |
|[Jen, Mary, Brown]  |[CSharp, VB]      |NY   |M     |
+--------------------+------------------+-----+------+

In [51]:
df.filter(~(df.state == "OH")).show(truncate=False)

+--------------------+------------------+-----+------+
|name                |languages         |state|gender|
+--------------------+------------------+-----+------+
|[Anna, Rose, ]      |[Spark, Java, C++]|NY   |F     |
|[Maria, Anne, Jones]|[CSharp, VB]      |NY   |M     |
|[Jen, Mary, Brown]  |[CSharp, VB]      |NY   |M     |
+--------------------+------------------+-----+------+

In [52]:
from pyspark.sql.functions import col
df.filter(col("state") == "OH").show(truncate=False)

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|[James, , Smith]      |[Java, Scala, C++]|OH   |M     |
|[Julia, , Williams]   |[CSharp, VB]      |OH   |F     |
|[Mike, Mary, Williams]|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

In [53]:
df.filter("gender == 'M'").show()

+--------------------+------------------+-----+------+
|                name|         languages|state|gender|
+--------------------+------------------+-----+------+
|    [James, , Smith]|[Java, Scala, C++]|   OH|     M|
|[Maria, Anne, Jones]|      [CSharp, VB]|   NY|     M|
|  [Jen, Mary, Brown]|      [CSharp, VB]|   NY|     M|
|[Mike, Mary, Will...|      [Python, VB]|   OH|     M|
+--------------------+------------------+-----+------+

In [54]:
df.filter("gender != 'M'").show()

+-------------------+------------------+-----+------+
|               name|         languages|state|gender|
+-------------------+------------------+-----+------+
|     [Anna, Rose, ]|[Spark, Java, C++]|   NY|     F|
|[Julia, , Williams]|      [CSharp, VB]|   OH|     F|
+-------------------+------------------+-----+------+

In [55]:
df.filter("gender <> 'M'").show()

+-------------------+------------------+-----+------+
|               name|         languages|state|gender|
+-------------------+------------------+-----+------+
|     [Anna, Rose, ]|[Spark, Java, C++]|   NY|     F|
|[Julia, , Williams]|      [CSharp, VB]|   OH|     F|
+-------------------+------------------+-----+------+

In [56]:
df.filter((df.state == 'OH') & (df.gender =='M')).show(truncate=False)

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|[James, , Smith]      |[Java, Scala, C++]|OH   |M     |
|[Mike, Mary, Williams]|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

In [60]:
li=["OH","CA","DE"]
df.filter(df.state.isin(li)).show()

+--------------------+------------------+-----+------+
|                name|         languages|state|gender|
+--------------------+------------------+-----+------+
|    [James, , Smith]|[Java, Scala, C++]|   OH|     M|
| [Julia, , Williams]|      [CSharp, VB]|   OH|     F|
|[Mike, Mary, Will...|      [Python, VB]|   OH|     M|
+--------------------+------------------+-----+------+

In [61]:
df.filter(~df.state.isin(li)).show()

+--------------------+------------------+-----+------+
|                name|         languages|state|gender|
+--------------------+------------------+-----+------+
|      [Anna, Rose, ]|[Spark, Java, C++]|   NY|     F|
|[Maria, Anne, Jones]|      [CSharp, VB]|   NY|     M|
|  [Jen, Mary, Brown]|      [CSharp, VB]|   NY|     M|
+--------------------+------------------+-----+------+

In [62]:
df.filter(df.state.isin(li) == False).show()

+--------------------+------------------+-----+------+
|                name|         languages|state|gender|
+--------------------+------------------+-----+------+
|      [Anna, Rose, ]|[Spark, Java, C++]|   NY|     F|
|[Maria, Anne, Jones]|      [CSharp, VB]|   NY|     M|
|  [Jen, Mary, Brown]|      [CSharp, VB]|   NY|     M|
+--------------------+------------------+-----+------+

In [63]:
df.filter(df.state.startswith("N")).show()

+--------------------+------------------+-----+------+
|                name|         languages|state|gender|
+--------------------+------------------+-----+------+
|      [Anna, Rose, ]|[Spark, Java, C++]|   NY|     F|
|[Maria, Anne, Jones]|      [CSharp, VB]|   NY|     M|
|  [Jen, Mary, Brown]|      [CSharp, VB]|   NY|     M|
+--------------------+------------------+-----+------+

In [64]:
df.filter(df.state.endswith("H")).show()

+--------------------+------------------+-----+------+
|                name|         languages|state|gender|
+--------------------+------------------+-----+------+
|    [James, , Smith]|[Java, Scala, C++]|   OH|     M|
| [Julia, , Williams]|      [CSharp, VB]|   OH|     F|
|[Mike, Mary, Will...|      [Python, VB]|   OH|     M|
+--------------------+------------------+-----+------+

In [66]:
df.filter(df.state.contains("Y")).show()

+--------------------+------------------+-----+------+
|                name|         languages|state|gender|
+--------------------+------------------+-----+------+
|      [Anna, Rose, ]|[Spark, Java, C++]|   NY|     F|
|[Maria, Anne, Jones]|      [CSharp, VB]|   NY|     M|
|  [Jen, Mary, Brown]|      [CSharp, VB]|   NY|     M|
+--------------------+------------------+-----+------+

In [67]:
data2 = [(2,"Michael Rose"),(3,"Robert Williams"),(4,"Rames Rose"),(5,"Rames rose")]
df2 = spark.createDataFrame(data = data2, schema=["id","name"])

In [70]:
df2.filter(df2.name.like("%rose%")).show()

+---+----------+
| id|      name|
+---+----------+
|  5|Rames rose|
+---+----------+

In [78]:
df2.filter(df2.name.rlike("(?i)^*rose$")).show()

+---+------------+
| id|        name|
+---+------------+
|  2|Michael Rose|
|  4|  Rames Rose|
|  5|  Rames rose|
+---+------------+

In [79]:
from pyspark.sql.functions import array_contains
df.filter(array_contains(df.languages,"Java")).show()

+----------------+------------------+-----+------+
|            name|         languages|state|gender|
+----------------+------------------+-----+------+
|[James, , Smith]|[Java, Scala, C++]|   OH|     M|
|  [Anna, Rose, ]|[Spark, Java, C++]|   NY|     F|
+----------------+------------------+-----+------+

In [85]:
df.filter(df.name.lastname =="Williams").show(truncate=False)

+----------------------+------------+-----+------+
|name                  |languages   |state|gender|
+----------------------+------------+-----+------+
|[Julia, , Williams]   |[CSharp, VB]|OH   |F     |
|[Mike, Mary, Williams]|[Python, VB]|OH   |M     |
+----------------------+------------+-----+------+

In [86]:
df.where(df.name.lastname =="Williams").show(truncate=False)

+----------------------+------------+-----+------+
|name                  |languages   |state|gender|
+----------------------+------------+-----+------+
|[Julia, , Williams]   |[CSharp, VB]|OH   |F     |
|[Mike, Mary, Williams]|[Python, VB]|OH   |M     |
+----------------------+------------+-----+------+

In [89]:
transDF.select('cust_id','game').count()

60

In [92]:
transDF.select('cust_id','game').distinct().count()

43

In [93]:
dropDisDF = transDF.dropDuplicates(['cust_id','game'])
print("Distinct count of customer ID & game : " + str(dropDisDF.count()))
dropDisDF.show(truncate = False)

Distinct count of customer ID & game : 43
+--------+----------+-------+------+----------------------+-------------------+-------------+--------------+------+
|trans_id|date      |cust_id|amount|game                  |equipment          |city         |state         |mode  |
+--------+----------+-------+------+----------------------+-------------------+-------------+--------------+------+
|13      |03-13-2011|4000010|107.8 |Team Sports           |Field Hockey       |Honolulu     |Hawaii        |credit|
|48      |09-27-2011|4000007|157.94|Exercise & Fitness    |Exercise Bands     |Philadelphia |Pennsylvania  |credit|
|20      |06-29-2011|4000005|41.55 |Exercise & Fitness    |Weightlifting Belts|New Orleans  |Louisiana     |credit|
|33      |06-15-2011|4000008|154.15|Outdoor Recreation    |Lawn Games         |Nashville    |Tennessee     |credit|
|49      |07-12-2011|4000010|144.59|Jumping               |Jumping Stilts     |Cambridge    |Massachusetts |credit|
|46      |05-27-2011|4000001|52.29 |Gymnastics            |Vaulting Horses    |Cleveland    |Ohio          |credit|
|55      |12-16-2011|4000006|106.11|Water Sports          |Swimming           |New York     |New York      |credit|
|3       |06-05-2011|4000003|198.19|Gymnastics            |Gymnastics Rings   |Milwaukee    |Wisconsin     |credit|
|6       |10-28-2011|4000005|27.89 |Puzzles               |Jigsaw Puzzles     |Charleston   |South Carolina|credit|
|12      |02-08-2011|4000009|41.52 |Indoor Games          |Bowling            |San Francisco|California    |credit|
|10      |05-29-2011|4000007|180.28|Outdoor Recreation    |Archery            |Reno         |Nevada        |credit|
|47      |10-23-2011|4000008|100.1 |Outdoor Play Equipment|Swing Sets         |Everett      |Washington    |credit|
|24      |06-10-2011|4000003|151.2 |Water Sports          |Surfing            |Plano        |Texas         |credit|
|52      |02-04-2011|4000005|44.82 |Outdoor Play Equipment|Lawn Water Slides  |Hampton      |Virginia      |cash  |
|15      |10-20-2011|4000001|137.64|Combat Sports         |Fencing            |Honolulu     |Hawaii        |credit|
|43      |04-22-2011|4000004|32.34 |Water Sports          |Water Polo         |Las Vegas    |Nevada        |cash  |
|16      |05-28-2011|4000010|35.56 |Exercise & Fitness    |Free Weight Bars   |Columbia     |South Carolina|credit|
|14      |02-25-2011|4000010|36.81 |Gymnastics            |Vaulting Horses    |Los Angeles  |California    |credit|
|22      |10-10-2011|4000009|19.64 |Water Sports          |Kitesurfing        |Saint Paul   |Minnesota     |credit|
|7       |07-14-2011|4000006|96.01 |Outdoor Play Equipment|Sandboxes          |Columbus     |Ohio          |credit|
+--------+----------+-------+------+----------------------+-------------------+-------------+--------------+------+
only showing top 20 rows

In [99]:
transDF = spark.read.options(delimiter=',')\
.schema('trans_id INT, date STRING, cust_ID INT, amount DOUBLE, game STRING, equipment STRING, city STRING, state STRING, mode STRING')\
.csv("trans.txt")

transDF.show(2,truncate=False)

+--------+----------+-------+------+------------------+--------------------------+-----------+----------+------+
|trans_id|date      |cust_ID|amount|game              |equipment                 |city       |state     |mode  |
+--------+----------+-------+------+------------------+--------------------------+-----------+----------+------+
|0       |06-26-2011|4000001|40.33 |Exercise & Fitness|Cardio Machine Accessories|Clarksville|Tennessee |credit|
|1       |05-26-2011|4000002|198.44|Exercise & Fitness|Weightlifting Gloves      |Long Beach |California|credit|
+--------+----------+-------+------+------------------+--------------------------+-----------+----------+------+
only showing top 2 rows

In [102]:
transDF.sort('amount',ascending = False).show(10,truncate=False)

+--------+----------+-------+------+----------------------+------------------------------+-------------+-------------+------+
|trans_id|date      |cust_ID|amount|game                  |equipment                     |city         |state        |mode  |
+--------+----------+-------+------+----------------------+------------------------------+-------------+-------------+------+
|1       |05-26-2011|4000002|198.44|Exercise & Fitness    |Weightlifting Gloves          |Long Beach   |California   |credit|
|3       |06-05-2011|4000003|198.19|Gymnastics            |Gymnastics Rings              |Milwaukee    |Wisconsin    |credit|
|58      |12-29-2011|4000002|194.86|Water Sports          |Windsurfing                   |Oklahoma City|Oklahoma     |credit|
|5       |02-14-2011|4000004|193.63|Outdoor Recreation    |Camping & Backpacking & Hiking|Chicago      |Illinois     |credit|
|35      |04-12-2011|4000008|185.26|Games                 |Board Games                   |Centennial   |Colorado     |credit|
|10      |05-29-2011|4000007|180.28|Outdoor Recreation    |Archery                       |Reno         |Nevada       |credit|
|57      |12-20-2011|4000003|178.2 |Outdoor Recreation    |Skating                       |San Jose     |California   |credit|
|56      |06-21-2011|4000002|176.63|Outdoor Recreation    |Geocaching                    |Boston       |Massachusetts|credit|
|39      |03-12-2011|4000006|174.36|Outdoor Play Equipment|Swing Sets                    |Pittsburgh   |Pennsylvania |credit|
|40      |11-07-2011|4000005|165.1 |Team Sports           |Cheerleading                  |Reno         |Nevada       |credit|
+--------+----------+-------+------+----------------------+------------------------------+-------------+-------------+------+
only showing top 10 rows

In [108]:
transDF.groupBy('cust_ID').count().sort('cust_id').show()

+-------+-----+
|cust_ID|count|
+-------+-----+
|4000001|    8|
|4000002|    6|
|4000003|    3|
|4000004|    5|
|4000005|    5|
|4000006|    5|
|4000007|    6|
|4000008|   10|
|4000009|    6|
|4000010|    6|
+-------+-----+

In [129]:
transDF.groupBy('cust_id').min().show(5)

+-------+-------------+------------+-----------+
|cust_id|min(trans_id)|min(cust_ID)|min(amount)|
+-------+-------------+------------+-----------+
|4000009|           11|     4000009|      19.64|
|4000001|            0|     4000001|      21.43|
|4000006|            7|     4000006|      10.44|
|4000005|            6|     4000005|      27.89|
|4000008|           17|     4000008|       5.03|
+-------+-------------+------------+-----------+
only showing top 5 rows

In [128]:
transDF.groupBy('cust_id').min('amount').show(5)

+-------+-----------+
|cust_id|min(amount)|
+-------+-----------+
|4000009|      19.64|
|4000001|      21.43|
|4000006|      10.44|
|4000005|      27.89|
|4000008|       5.03|
+-------+-----------+
only showing top 5 rows

In [130]:
from pyspark.sql import functions as f
transDF.groupBy('cust_ID').agg(f.min('amount').alias('min_transaction_amount')).show(5)

+-------+----------------------+
|cust_ID|min_transaction_amount|
+-------+----------------------+
|4000009|                 19.64|
|4000001|                 21.43|
|4000006|                 10.44|
|4000005|                 27.89|
|4000008|                  5.03|
+-------+----------------------+
only showing top 5 rows

In [131]:
transDF.groupBy('cust_id').agg(f.min('amount').alias('min_trans')).show()

+-------+---------+
|cust_id|min_trans|
+-------+---------+
|4000009|    19.64|
|4000001|    21.43|
|4000006|    10.44|
|4000005|    27.89|
|4000008|     5.03|
|4000004|    28.11|
|4000003|    151.2|
|4000010|    35.56|
|4000007|     20.2|
|4000002|     5.58|
+-------+---------+

In [132]:
transDF.groupBy('cust_id').agg(f.min('amount')).sort('cust_id').show()

+-------+-----------+
|cust_id|min(amount)|
+-------+-----------+
|4000001|      21.43|
|4000002|       5.58|
|4000003|      151.2|
|4000004|      28.11|
|4000005|      27.89|
|4000006|      10.44|
|4000007|       20.2|
|4000008|       5.03|
|4000009|      19.64|
|4000010|      35.56|
+-------+-----------+

In [133]:
transDF.groupBy('cust_id').sum('amount').show()

+-------+------------------+
|cust_id|       sum(amount)|
+-------+------------------+
|4000009|            457.83|
|4000001|            651.05|
|4000006|            539.38|
|4000005|            325.15|
|4000008|            859.42|
|4000004|            337.06|
|4000003| 527.5899999999999|
|4000010|447.09000000000003|
|4000007| 699.5500000000001|
|4000002|            706.97|
+-------+------------------+

In [135]:
transDF.groupBy('cust_id').agg(f.sum('amount').alias('total_amount')).show()

+-------+------------------+
|cust_id|      total_amount|
+-------+------------------+
|4000009|            457.83|
|4000001|            651.05|
|4000006|            539.38|
|4000005|            325.15|
|4000008|            859.42|
|4000004|            337.06|
|4000003| 527.5899999999999|
|4000010|447.09000000000003|
|4000007| 699.5500000000001|
|4000002|            706.97|
+-------+------------------+

In [137]:
transDF.groupBy('cust_ID').agg(f.first('game')).show()

+-------+--------------------+
|cust_ID|         first(game)|
+-------+--------------------+
|4000009|Outdoor Play Equi...|
|4000001|  Exercise & Fitness|
|4000006|Outdoor Play Equi...|
|4000005|             Puzzles|
|4000008|        Water Sports|
|4000004|  Outdoor Recreation|
|4000003|          Gymnastics|
|4000010|         Team Sports|
|4000007|  Outdoor Recreation|
|4000002|  Exercise & Fitness|
+-------+--------------------+

In [152]:
transDF.filter(transDF.cust_ID == 4000002).show()

+--------+----------+-------+------+------------------+--------------------+-------------+-------------+------+
|trans_id|      date|cust_ID|amount|              game|           equipment|         city|        state|  mode|
+--------+----------+-------+------+------------------+--------------------+-------------+-------------+------+
|       1|05-26-2011|4000002|198.44|Exercise & Fitness|Weightlifting Gloves|   Long Beach|   California|credit|
|       2|06-01-2011|4000002|  5.58|Exercise & Fitness|Weightlifting Mac...|      Anaheim|   California|credit|
|       4|12-17-2011|4000002| 98.81|       Team Sports|        Field Hockey|  Nashville  |    Tennessee|credit|
|      51|02-17-2011|4000002| 32.65|      Water Sports|        Life Jackets|     Columbus|      Georgia|  cash|
|      56|06-21-2011|4000002|176.63|Outdoor Recreation|          Geocaching|       Boston|Massachusetts|credit|
|      58|12-29-2011|4000002|194.86|      Water Sports|         Windsurfing|Oklahoma City|     Oklahoma|credit|
+--------+----------+-------+------+------------------+--------------------+-------------+-------------+------+

In [155]:
transDF.groupBy('cust_ID').agg(f.countDistinct('game')).show()

+-------+-----------+
|cust_ID|count(game)|
+-------+-----------+
|4000009|          5|
|4000001|          6|
|4000006|          4|
|4000005|          5|
|4000008|          5|
|4000004|          3|
|4000003|          3|
|4000010|          5|
|4000007|          3|
|4000002|          4|
+-------+-----------+

In [158]:
transDF.groupBy('cust_ID').agg(f.collect_list('game')).show(5,truncate=False)

+-------+------------------------------------------------------------------------------------------------------------------------------------------+
|cust_ID|collect_list(game)                                                                                                                        |
+-------+------------------------------------------------------------------------------------------------------------------------------------------+
|4000009|[Outdoor Play Equipment, Indoor Games, Water Sports, Gymnastics, Indoor Games, Combat Sports]                                             |
|4000001|[Exercise & Fitness, Combat Sports, Outdoor Recreation, Water Sports, Water Sports, Exercise & Fitness, Gymnastics, Winter Sports]        |
|4000006|[Outdoor Play Equipment, Winter Sports, Jumping, Outdoor Play Equipment, Water Sports]                                                    |
|4000005|[Puzzles, Exercise & Fitness, Air Sports, Team Sports, Outdoor Play Equipment]                                                            |
|4000008|[Water Sports, Team Sports, Water Sports, Team Sports, Games, Team Sports, Outdoor Recreation, Team Sports, Games, Outdoor Play Equipment]|
+-------+------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

In [159]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [160]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:85% !important; }</style>"))

In [161]:
transDF.groupBy('cust_ID').agg(f.collect_set('game')).show(5,truncate=False)

+-------+------------------------------------------------------------------------------------------------+
|cust_ID|collect_set(game)                                                                               |
+-------+------------------------------------------------------------------------------------------------+
|4000009|[Combat Sports, Water Sports, Indoor Games, Gymnastics, Outdoor Play Equipment]                 |
|4000001|[Combat Sports, Water Sports, Outdoor Recreation, Gymnastics, Winter Sports, Exercise & Fitness]|
|4000006|[Water Sports, Jumping, Winter Sports, Outdoor Play Equipment]                                  |
|4000005|[Puzzles, Team Sports, Air Sports, Exercise & Fitness, Outdoor Play Equipment]                  |
|4000008|[Team Sports, Water Sports, Outdoor Recreation, Games, Outdoor Play Equipment]                  |
+-------+------------------------------------------------------------------------------------------------+
only showing top 5 rows

In [167]:
transDF.groupBy('cust_ID').agg(f.collect_set('game')).filter(f.array_contains(f.col('collect_set(game)'),'Jumping')).show(5,truncate=False)

+-------+--------------------------------------------------------------+
|cust_ID|collect_set(game)                                             |
+-------+--------------------------------------------------------------+
|4000006|[Water Sports, Jumping, Winter Sports, Outdoor Play Equipment]|
|4000010|[Team Sports, Jumping, Gymnastics, Games, Exercise & Fitness] |
+-------+--------------------------------------------------------------+

In [174]:
transDF.groupBy('cust_ID').agg(f.collect_set('game')).withColumn('game_list_string',f.concat_ws(',',f.col('collect_set(game)'))).show(5,truncate=False)

+-------+------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------+
|cust_ID|collect_set(game)                                                                               |game_list_string                                                                         |
+-------+------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------+
|4000009|[Combat Sports, Water Sports, Indoor Games, Gymnastics, Outdoor Play Equipment]                 |Combat Sports,Water Sports,Indoor Games,Gymnastics,Outdoor Play Equipment                |
|4000001|[Combat Sports, Water Sports, Outdoor Recreation, Gymnastics, Winter Sports, Exercise & Fitness]|Combat Sports,Water Sports,Outdoor Recreation,Gymnastics,Winter Sports,Exercise & Fitness|
|4000006|[Water Sports, Jumping, Winter Sports, Outdoor Play Equipment]                                  |Water Sports,Jumping,Winter Sports,Outdoor Play Equipment                                |
|4000005|[Puzzles, Team Sports, Air Sports, Exercise & Fitness, Outdoor Play Equipment]                  |Puzzles,Team Sports,Air Sports,Exercise & Fitness,Outdoor Play Equipment                 |
|4000008|[Team Sports, Water Sports, Outdoor Recreation, Games, Outdoor Play Equipment]                  |Team Sports,Water Sports,Outdoor Recreation,Games,Outdoor Play Equipment                 |
+-------+------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------+
only showing top 5 rows

In [184]:
transGameStringDF =  transDF.groupBy('cust_id').agg(f.collect_set('game')).withColumn('game_string',f.concat_ws(',',f.col('collect_set(game)'))).select('cust_ID','game_string')

In [185]:
transGameStringDF.show(5,truncate=False)

+-------+-----------------------------------------------------------------------------------------+
|cust_ID|game_string                                                                              |
+-------+-----------------------------------------------------------------------------------------+
|4000009|Combat Sports,Water Sports,Indoor Games,Gymnastics,Outdoor Play Equipment                |
|4000001|Combat Sports,Water Sports,Outdoor Recreation,Gymnastics,Winter Sports,Exercise & Fitness|
|4000006|Water Sports,Jumping,Winter Sports,Outdoor Play Equipment                                |
|4000005|Puzzles,Team Sports,Air Sports,Exercise & Fitness,Outdoor Play Equipment                 |
|4000008|Team Sports,Water Sports,Outdoor Recreation,Games,Outdoor Play Equipment                 |
+-------+-----------------------------------------------------------------------------------------+
only showing top 5 rows

In [190]:
transGameStringDF.withColumn('game_array',f.split('game_string',',')).show(5,truncate=False)

+-------+-----------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------+
|cust_ID|game_string                                                                              |game_array                                                                                      |
+-------+-----------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------+
|4000009|Combat Sports,Water Sports,Indoor Games,Gymnastics,Outdoor Play Equipment                |[Combat Sports, Water Sports, Indoor Games, Gymnastics, Outdoor Play Equipment]                 |
|4000001|Combat Sports,Water Sports,Outdoor Recreation,Gymnastics,Winter Sports,Exercise & Fitness|[Combat Sports, Water Sports, Outdoor Recreation, Gymnastics, Winter Sports, Exercise & Fitness]|
|4000006|Water Sports,Jumping,Winter Sports,Outdoor Play Equipment                                |[Water Sports, Jumping, Winter Sports, Outdoor Play Equipment]                                  |
|4000005|Puzzles,Team Sports,Air Sports,Exercise & Fitness,Outdoor Play Equipment                 |[Puzzles, Team Sports, Air Sports, Exercise & Fitness, Outdoor Play Equipment]                  |
|4000008|Team Sports,Water Sports,Outdoor Recreation,Games,Outdoor Play Equipment                 |[Team Sports, Water Sports, Outdoor Recreation, Games, Outdoor Play Equipment]                  |
+-------+-----------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------+
only showing top 5 rows

In [194]:
transGameStringDF.withColumn('game_array', f.split('game_string',',')).withColumn('num_game',f.size('game_array')).show(5,truncate=True)

+-------+--------------------+--------------------+--------+
|cust_ID|         game_string|          game_array|num_game|
+-------+--------------------+--------------------+--------+
|4000009|Combat Sports,Wat...|[Combat Sports, W...|       5|
|4000001|Combat Sports,Wat...|[Combat Sports, W...|       6|
|4000006|Water Sports,Jump...|[Water Sports, Ju...|       4|
|4000005|Puzzles,Team Spor...|[Puzzles, Team Sp...|       5|
|4000008|Team Sports,Water...|[Team Sports, Wat...|       5|
+-------+--------------------+--------------------+--------+
only showing top 5 rows

In [200]:
transGameStringDF.withColumn('game_array',f.split('game_string',',')) \
.withColumn('first_game',f.element_at('game_array',1)) \
.withColumn('last_game',f.element_at('game_array',-1)).show(5)

+-------+--------------------+--------------------+-------------+--------------------+
|cust_ID|         game_string|          game_array|   first_game|           last_game|
+-------+--------------------+--------------------+-------------+--------------------+
|4000009|Combat Sports,Wat...|[Combat Sports, W...|Combat Sports|Outdoor Play Equi...|
|4000001|Combat Sports,Wat...|[Combat Sports, W...|Combat Sports|  Exercise & Fitness|
|4000006|Water Sports,Jump...|[Water Sports, Ju...| Water Sports|Outdoor Play Equi...|
|4000005|Puzzles,Team Spor...|[Puzzles, Team Sp...|      Puzzles|Outdoor Play Equi...|
|4000008|Team Sports,Water...|[Team Sports, Wat...|  Team Sports|Outdoor Play Equi...|
+-------+--------------------+--------------------+-------------+--------------------+
only showing top 5 rows

In [201]:
transGameStringDF.withColumn('game_array',f.split('game_string',',')).withColumn('single_game',f.explode('game_array')).show()

+-------+--------------------+--------------------+--------------------+
|cust_ID|         game_string|          game_array|         single_game|
+-------+--------------------+--------------------+--------------------+
|4000009|Combat Sports,Wat...|[Combat Sports, W...|       Combat Sports|
|4000009|Combat Sports,Wat...|[Combat Sports, W...|        Water Sports|
|4000009|Combat Sports,Wat...|[Combat Sports, W...|        Indoor Games|
|4000009|Combat Sports,Wat...|[Combat Sports, W...|          Gymnastics|
|4000009|Combat Sports,Wat...|[Combat Sports, W...|Outdoor Play Equi...|
|4000001|Combat Sports,Wat...|[Combat Sports, W...|       Combat Sports|
|4000001|Combat Sports,Wat...|[Combat Sports, W...|        Water Sports|
|4000001|Combat Sports,Wat...|[Combat Sports, W...|  Outdoor Recreation|
|4000001|Combat Sports,Wat...|[Combat Sports, W...|          Gymnastics|
|4000001|Combat Sports,Wat...|[Combat Sports, W...|       Winter Sports|
|4000001|Combat Sports,Wat...|[Combat Sports, W...|  Exercise & Fitness|
|4000006|Water Sports,Jump...|[Water Sports, Ju...|        Water Sports|
|4000006|Water Sports,Jump...|[Water Sports, Ju...|             Jumping|
|4000006|Water Sports,Jump...|[Water Sports, Ju...|       Winter Sports|
|4000006|Water Sports,Jump...|[Water Sports, Ju...|Outdoor Play Equi...|
|4000005|Puzzles,Team Spor...|[Puzzles, Team Sp...|             Puzzles|
|4000005|Puzzles,Team Spor...|[Puzzles, Team Sp...|         Team Sports|
|4000005|Puzzles,Team Spor...|[Puzzles, Team Sp...|          Air Sports|
|4000005|Puzzles,Team Spor...|[Puzzles, Team Sp...|  Exercise & Fitness|
|4000005|Puzzles,Team Spor...|[Puzzles, Team Sp...|Outdoor Play Equi...|
+-------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [211]:
transDF.show()
transDF.withColumn('day_month',f.substring('date',1,5)).show()

+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
|trans_id|      date|cust_ID|amount|                game|           equipment|          city|         state|  mode|
+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
|       0|06-26-2011|4000001| 40.33|  Exercise & Fitness|Cardio Machine Ac...|   Clarksville|     Tennessee|credit|
|       1|05-26-2011|4000002|198.44|  Exercise & Fitness|Weightlifting Gloves|    Long Beach|    California|credit|
|       2|06-01-2011|4000002|  5.58|  Exercise & Fitness|Weightlifting Mac...|       Anaheim|    California|credit|
|       3|06-05-2011|4000003|198.19|          Gymnastics|    Gymnastics Rings|     Milwaukee|     Wisconsin|credit|
|       4|12-17-2011|4000002| 98.81|         Team Sports|        Field Hockey|   Nashville  |     Tennessee|credit|
|       5|02-14-2011|4000004|193.63|  Outdoor Recreation|Camping & Backpac...|       Chicago|      Illinois|credit|
|       6|10-28-2011|4000005| 27.89|             Puzzles|      Jigsaw Puzzles|    Charleston|South Carolina|credit|
|       7|07-14-2011|4000006| 96.01|Outdoor Play Equi...|           Sandboxes|      Columbus|          Ohio|credit|
|       8|01-17-2011|4000006| 10.44|       Winter Sports|        Snowmobiling|    Des Moines|          Iowa|credit|
|       9|05-17-2011|4000006|152.46|             Jumping|      Bungee Jumping|St. Petersburg|       Florida|credit|
|      10|05-29-2011|4000007|180.28|  Outdoor Recreation|             Archery|          Reno|        Nevada|credit|
|      11|06-18-2011|4000009|121.39|Outdoor Play Equi...|          Swing Sets|      Columbus|          Ohio|credit|
|      12|02-08-2011|4000009| 41.52|        Indoor Games|             Bowling| San Francisco|    California|credit|
|      13|03-13-2011|4000010| 107.8|         Team Sports|        Field Hockey|    Honolulu  |        Hawaii|credit|
|      14|02-25-2011|4000010| 36.81|          Gymnastics|     Vaulting Horses|   Los Angeles|    California|credit|
|      15|10-20-2011|4000001|137.64|       Combat Sports|             Fencing|    Honolulu  |        Hawaii|credit|
|      16|05-28-2011|4000010| 35.56|  Exercise & Fitness|    Free Weight Bars|      Columbia|South Carolina|credit|
|      17|10-18-2011|4000008| 75.55|        Water Sports|Scuba Diving & Sn...|         Omaha|      Nebraska|credit|
|      18|11-18-2011|4000008| 88.65|         Team Sports|            Baseball|Salt Lake City|          Utah|credit|
|      19|08-28-2011|4000008| 51.81|        Water Sports|        Life Jackets|        Newark|    New Jersey|credit|
+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
only showing top 20 rows

+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+---------+
|trans_id|      date|cust_ID|amount|                game|           equipment|          city|         state|  mode|day_month|
+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+---------+
|       0|06-26-2011|4000001| 40.33|  Exercise & Fitness|Cardio Machine Ac...|   Clarksville|     Tennessee|credit|    06-26|
|       1|05-26-2011|4000002|198.44|  Exercise & Fitness|Weightlifting Gloves|    Long Beach|    California|credit|    05-26|
|       2|06-01-2011|4000002|  5.58|  Exercise & Fitness|Weightlifting Mac...|       Anaheim|    California|credit|    06-01|
|       3|06-05-2011|4000003|198.19|          Gymnastics|    Gymnastics Rings|     Milwaukee|     Wisconsin|credit|    06-05|
|       4|12-17-2011|4000002| 98.81|         Team Sports|        Field Hockey|   Nashville  |     Tennessee|credit|    12-17|
|       5|02-14-2011|4000004|193.63|  Outdoor Recreation|Camping & Backpac...|       Chicago|      Illinois|credit|    02-14|
|       6|10-28-2011|4000005| 27.89|             Puzzles|      Jigsaw Puzzles|    Charleston|South Carolina|credit|    10-28|
|       7|07-14-2011|4000006| 96.01|Outdoor Play Equi...|           Sandboxes|      Columbus|          Ohio|credit|    07-14|
|       8|01-17-2011|4000006| 10.44|       Winter Sports|        Snowmobiling|    Des Moines|          Iowa|credit|    01-17|
|       9|05-17-2011|4000006|152.46|             Jumping|      Bungee Jumping|St. Petersburg|       Florida|credit|    05-17|
|      10|05-29-2011|4000007|180.28|  Outdoor Recreation|             Archery|          Reno|        Nevada|credit|    05-29|
|      11|06-18-2011|4000009|121.39|Outdoor Play Equi...|          Swing Sets|      Columbus|          Ohio|credit|    06-18|
|      12|02-08-2011|4000009| 41.52|        Indoor Games|             Bowling| San Francisco|    California|credit|    02-08|
|      13|03-13-2011|4000010| 107.8|         Team Sports|        Field Hockey|    Honolulu  |        Hawaii|credit|    03-13|
|      14|02-25-2011|4000010| 36.81|          Gymnastics|     Vaulting Horses|   Los Angeles|    California|credit|    02-25|
|      15|10-20-2011|4000001|137.64|       Combat Sports|             Fencing|    Honolulu  |        Hawaii|credit|    10-20|
|      16|05-28-2011|4000010| 35.56|  Exercise & Fitness|    Free Weight Bars|      Columbia|South Carolina|credit|    05-28|
|      17|10-18-2011|4000008| 75.55|        Water Sports|Scuba Diving & Sn...|         Omaha|      Nebraska|credit|    10-18|
|      18|11-18-2011|4000008| 88.65|         Team Sports|            Baseball|Salt Lake City|          Utah|credit|    11-18|
|      19|08-28-2011|4000008| 51.81|        Water Sports|        Life Jackets|        Newark|    New Jersey|credit|    08-28|
+--------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+---------+
only showing top 20 rows

In [214]:
transDF.select(f.col('date')).show(5)
transDF.select(f.col('date').alias('day_month_year')).show(5)

+----------+
|      date|
+----------+
|06-26-2011|
|05-26-2011|
|06-01-2011|
|06-05-2011|
|12-17-2011|
+----------+
only showing top 5 rows

+--------------+
|day_month_year|
+--------------+
|    06-26-2011|
|    05-26-2011|
|    06-01-2011|
|    06-05-2011|
|    12-17-2011|
+--------------+
only showing top 5 rows

In [218]:
transDF.withColumn('month_in_05_06',f.substring('date',1,2).isin(['05','12'])).show(5)

+--------+----------+-------+------+------------------+--------------------+-----------+----------+------+--------------+
|trans_id|      date|cust_ID|amount|              game|           equipment|       city|     state|  mode|month_in_05_06|
+--------+----------+-------+------+------------------+--------------------+-----------+----------+------+--------------+
|       0|06-26-2011|4000001| 40.33|Exercise & Fitness|Cardio Machine Ac...|Clarksville| Tennessee|credit|         false|
|       1|05-26-2011|4000002|198.44|Exercise & Fitness|Weightlifting Gloves| Long Beach|California|credit|          true|
|       2|06-01-2011|4000002|  5.58|Exercise & Fitness|Weightlifting Mac...|    Anaheim|California|credit|         false|
|       3|06-05-2011|4000003|198.19|        Gymnastics|    Gymnastics Rings|  Milwaukee| Wisconsin|credit|         false|
|       4|12-17-2011|4000002| 98.81|       Team Sports|        Field Hockey|Nashville  | Tennessee|credit|          true|
+--------+----------+-------+------+------------------+--------------------+-----------+----------+------+--------------+
only showing top 5 rows

In [219]:
transDF.filter(f.substring('date',0,2).isin(['06'])).show()

+--------+----------+-------+------+--------------------+--------------------+-----------+--------------+------+
|trans_id|      date|cust_ID|amount|                game|           equipment|       city|         state|  mode|
+--------+----------+-------+------+--------------------+--------------------+-----------+--------------+------+
|       0|06-26-2011|4000001| 40.33|  Exercise & Fitness|Cardio Machine Ac...|Clarksville|     Tennessee|credit|
|       2|06-01-2011|4000002|  5.58|  Exercise & Fitness|Weightlifting Mac...|    Anaheim|    California|credit|
|       3|06-05-2011|4000003|198.19|          Gymnastics|    Gymnastics Rings|  Milwaukee|     Wisconsin|credit|
|      11|06-18-2011|4000009|121.39|Outdoor Play Equi...|          Swing Sets|   Columbus|          Ohio|credit|
|      20|06-29-2011|4000005| 41.55|  Exercise & Fitness| Weightlifting Belts|New Orleans|     Louisiana|credit|
|      24|06-10-2011|4000003| 151.2|        Water Sports|             Surfing|      Plano|         Texas|credit|
|      29|06-03-2011|4000001| 126.9|  Outdoor Recreation|             Hunting|    Phoenix|       Arizona|credit|
|      33|06-15-2011|4000008|154.15|  Outdoor Recreation|          Lawn Games|Nashville  |     Tennessee|credit|
|      53|06-12-2011|4000004| 44.46|        Water Sports|Scuba Diving & Sn...| Charleston|South Carolina|  cash|
|      56|06-21-2011|4000002|176.63|  Outdoor Recreation|          Geocaching|     Boston| Massachusetts|credit|
+--------+----------+-------+------+--------------------+--------------------+-----------+--------------+------+

In [223]:
transDF.withColumn('month',f.substring('date',0,2)).printSchema()
transDF.withColumn('month',f.substring('date',0,2).cast('INT')).printSchema()

root
 |-- trans_id: integer (nullable = true)
 |-- date: string (nullable = true)
 |-- cust_ID: integer (nullable = true)
 |-- amount: double (nullable = true)
 |-- game: string (nullable = true)
 |-- equipment: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- mode: string (nullable = true)
 |-- month: string (nullable = true)

root
 |-- trans_id: integer (nullable = true)
 |-- date: string (nullable = true)
 |-- cust_ID: integer (nullable = true)
 |-- amount: double (nullable = true)
 |-- game: string (nullable = true)
 |-- equipment: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- mode: string (nullable = true)
 |-- month: integer (nullable = true)

In [225]:
df_inner = df1.join(df2, on=['Roll_No'], how='inner')
df_inner.show()

NameError: name 'df1' is not defined